<div id="m-8-instalar-app" v-cloak>

    <modulo-contenedor-curso :navegar-atras="navegarAtras" :navegar-siguiente="navegarSiguiente" :breadcrumb="breadcrumb"
    :usuario="usuario" :curso="curso" :objeto-seleccionado="objetoSeleccionado" :titulo-temporal.sync="tituloEvaluacion"
    @evaluacion-individual="evaluacionIndividual">
    <modulo-ev-individual v-if="evIndividual">

    </modulo-ev-individual>
    <div v-else>
      <img src="/images/whats/secuencia.gif" alt="Instalar una aplicación">

    </div>

  </modulo-contenedor-curso>
  <!--  -->
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>