<div id="m-8-instalar-app" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/estudiante/modulo-8/m-8-instalar-app.less</em>, <em>assets/js/pages/estudiante/modulo-8/m-8-instalar-app.page.js</em>, and <em>api/controllers/estudiante/modulo-8/view-m-8-instalar-app.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
