<!DOCTYPE html>
<html lang="es">

<head>
  <title>alfabetizaweb | epn</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <!-- ESTILOS DE BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- ESTILOS DE BOOTSTRAP END-->
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!--  -->
  <!-- FUENTE ROBOTO -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!--  -->
</head>

<body id="layout-modulos">

  <%- body %>

  <!-- SCRIPTS BOOTSTRAP: JS, Popper.js, and jQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!--SCRIPTS BOOTSTRAP END   -->
  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/dependencies/lodash.js"></script>
  <script src="/dependencies/vue.js"></script>
  <script src="/dependencies/parasails.js"></script>
  <script src="/js/libs/vue-sidebar-menu.js"></script>
  <script src="/js/components/modulo-barra-nav.component.js"></script>
  <script src="/js/components/modulo-contenedor-admin.component.js"></script>
  <script src="/js/components/modulo-contenedor-curso.component.js"></script>
  <script src="/js/components/modulo-modal-fin-actv.component.js"></script>
  <script src="/js/components/modulo-modal-ini-actv.component.js"></script>
  <script src="/js/components/modulo-modal-inicio.component.js"></script>
  <script src="/js/components/modulo-panel-derecho.component.js"></script>
  <script src="/js/components/modulo-side-var-menu.component.js"></script>
  <script src="/js/pages/administrador/administrar-contenidos.page.js"></script>
  <script src="/js/pages/administrador/administrar-home.page.js"></script>
  <script src="/js/pages/estudiante/indice-estudiante.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-computadora-ev.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-computadora.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-audio.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-cablepoder.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-flashmemory.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-monitor.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-mouse.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-teclado.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-encender-apagar-computador.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-encendido-apagado.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-evaluacion.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-raton.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-cpu.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-impresora.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-monitor.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-mouse.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-software.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-teclado.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-usb.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-teclado.page.js"></script>
  <script src="/js/pages/estudiante/modulo-2/m-2-navegacion-escritorio-escritorio.page.js"></script>
  <script src="/js/pages/estudiante/modulo-2/m-2-navegacion-escritorio.page.js"></script>
  <!--SCRIPTS END-->

</body>

</html>