<!DOCTYPE html>
<html lang="es">

<head>
  <title>alfabetizaweb | epn</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <!-- ESTILOS DE BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- ESTILOS DE BOOTSTRAP END-->
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!--  -->
  <!-- FUENTE ROBOTO -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!--  -->


</head>

<body id="layout-general">
  <%- body %>


  <!-- AXIOS -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- tiny mcs -->
  <script
    src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=kjkditphnen1av2wynuz72xcpf4kkxlyj0o0qpn1b82j48oh"></script>
  <script>
    tinymce.init({
      selector: '#mytextarea',
      plugins: 'image code',
      toolbar: "insertfile undo redo |image code| bold italic | forecolor backcolor | template codesample | alignleft aligncenter alignright alignjustify | bullist numlist",
      // inline: true,
      // images_upload_url: '127.0.0.1:1337/crear-modulo',
      /* we override default upload handler to simulate successful upload*/
      init_instance_callback: function (editor) {
        window.contenidoTiny = null;
        
        editor.on('keyup', function (e) {
          console.log('editor heyup:');
          window.contenidoTiny=tinymce.get("mytextarea").getContent()
          $('.contenido-tiny').html(window.contenidoTiny);          
          
        });
        editor.on('Change', function (e) {
          console.log('editor changed:');
          window.contenidoTiny=tinymce.get("mytextarea").getContent()
          $('.contenido-tiny').html(window.contenidoTiny);          
        });

      },
      images_upload_handler: function (blobInfo, success, failure) {
        const formData = new FormData();
        var _success = success;
        var _failure = failure;
        var json;
        console.log('INFORMACION DEL BLOB');
        console.log(blobInfo);
        console.log(blobInfo.blob());
        console.log(blobInfo.blob().name);
        formData.append('multimedia', blobInfo.blob(), blobInfo.blob().name);
        axios({
          method: 'post',
          url: '/cargar-imagen',
          data: formData
        })
          .then(
            (response) => {
              console.log(response.data);
              json = response.data;
              _success(json.location);
            }
          )
          .catch(
            (err) => {
              console.log('Error encontrado:\n' + err);
              _failure('Error encontrado' + err);
            }
          );
      }
    });
  </script>

  <!-- SCRIPTS BOOTSTRAP: JS, Popper.js, and jQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!--SCRIPTS BOOTSTRAP END   -->
  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/dependencies/lodash.js"></script>
  <script src="/dependencies/vue.js"></script>
  <script src="/dependencies/parasails.js"></script>
  <script src="/js/libs/vue-sidebar-menu.js"></script>
  <script src="/js/components/modulo-barra-nav.component.js"></script>
  <script src="/js/components/modulo-contenedor-admin.component.js"></script>
  <script src="/js/components/modulo-contenedor-curso.component.js"></script>
  <script src="/js/components/modulo-modal-fin-actv.component.js"></script>
  <script src="/js/components/modulo-modal-ini-actv.component.js"></script>
  <script src="/js/components/modulo-modal-inicio.component.js"></script>
  <script src="/js/components/modulo-panel-derecho.component.js"></script>
  <script src="/js/components/modulo-side-var-menu.component.js"></script>
  <script src="/js/pages/administrador/actualizar-curso.page.js"></script>
  <script src="/js/pages/administrador/administrar-contenidos.page.js"></script>
  <script src="/js/pages/administrador/administrar-home.page.js"></script>
  <script src="/js/pages/administrador/administrar-indice.page.js"></script>
  <script src="/js/pages/administrador/crear-curso.page.js"></script>
  <script src="/js/pages/administrador/crear-modulo.page.js"></script>
  <script src="/js/pages/administrador/crear-submodulo.page.js"></script>
  <script src="/js/pages/autenticacion/login.page.js"></script>
  <script src="/js/pages/autenticacion/registro-usuario.page.js"></script>
  <script src="/js/pages/estudiante/indice-estudiante.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-computadora-ev.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-computadora.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-audio.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-cablepoder.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-flashmemory.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-monitor.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-mouse.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes-teclado.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-conexion-componentes.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-encender-apagar-computador.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-encendido-apagado.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-evaluacion.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-raton.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-cpu.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-impresora.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-monitor.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-mouse.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-software.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-teclado.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico-usb.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-sistema-informatico.page.js"></script>
  <script src="/js/pages/estudiante/modulo-1/m-1-teclado.page.js"></script>
  <script src="/js/pages/estudiante/modulo-2/m-2-navegacion-escritorio-escritorio.page.js"></script>
  <script src="/js/pages/estudiante/modulo-2/m-2-navegacion-escritorio.page.js"></script>
  <script src="/js/pages/homepage.page.js"></script>
  <script src="/js/pages/interfaz-modulos.page.js"></script>
  <!--SCRIPTS END-->
</body>

</html>