<div id="m-2-navegacion-escritorio" class="container-fluid" v-cloak>


  <!-- MODALS******************************************************************************************* -->

  <!--HEADER ******************************************************************************************* -->
  <modulo-barra-nav :breadcrumb="breadcrumb"></modulo-barra-nav> 

  <!-- CONTENIDOS******************************************************************************************* -->
  
  <modulo-contenedor :titulo-contenido="tituloContenido" :descripcion-objeto="descripcionObjeto" :navegar-atras="navegarAtras" :navegar-siguiente="navegarSiguiente" >

  </modulo-contenedor>
  
  <!--  -->
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
    