<div id="m-2-aplicaciones" class="container-fluid" v-cloak>


  <!-- MODALS******************************************************************************************* -->

  <!-- CONTENIDOS******************************************************************************************* -->

  <modulo-contenedor-curso :navegar-atras="navegarAtras" :navegar-siguiente="navegarSiguiente" :breadcrumb="breadcrumb"
    :usuario="usuario" :curso="curso" :objeto-seleccionado.sync="objetoSeleccionado"
    :titulo-temporal.sync="tituloEvaluacion" @evaluacion-individual="evaluacionIndividual" ref="curso"
    :mostrar-icono-repetir="mostrarIconoRepetir" @intentar-nuevamente="intentarNuevamente" :progreso="progreso"
    @click-asistente-buho="clickMostrarPista">
    <!--mostrarIconoRepetir es una varible de tipo Boolean-->

    <!-- si el contenido retornado es un submodulo se permiten las evaluaciones -->

    <modulo-ev-individual v-if="evIndividual" :submodulo="objetoSeleccionado" :usuario="usuario"
      @finaliza-evaluacion="finalizaEvaluacion" ref="componenteEvaluacion" :curso="curso"
      @actualiza-progreso="actualizaProgreso">

    </modulo-ev-individual>
    <div v-else id="contenedor-lienzo">
      <!-- CONTENIDO  -->

      <div id="carouselAbrir" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
        <ol class="carousel-indicators carousel-indicators-numbers">
          <li data-target="#carouselAbrir" data-slide-to="0" class="indicador active" @click="obtenerIndice">1</li>
          <li data-target="#carouselAbrir" data-slide-to="1" class="indicador" @click="obtenerIndice">2</li>
          <li data-target="#carouselAbrir" data-slide-to="2" class="indicador" @click="obtenerIndice">3</li>
          <li data-target="#carouselAbrir" data-slide-to="3" class="indicador" @click="obtenerIndice">4</li>
          <li data-target="#carouselAbrir" data-slide-to="4" class="indicador" @click="obtenerIndice">5</li>
          <li data-target="#carouselAbrir" data-slide-to="5" class="indicador" @click="obtenerIndice">6</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/images/informaticabasica/modulo2/aplicaciones/tienda_windows.jpg"
              alt="Aplicaciones de windows 10">
          </div>
          <div class="carousel-item ">
            <img class="d-block w-100" src="/images/informaticabasica/modulo2/aplicaciones/clic_inicio_win_10.png"
              alt="Encender el CPu">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/informaticabasica/modulo2/aplicaciones/clic_app_win_10.png"
              alt="Encender el Monitor">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/informaticabasica/modulo2/aplicaciones/paint_abierto_win_10.png"
              alt="Seleccionar un Usuario">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100"
              src="/images/informaticabasica/modulo2/aplicaciones/icono_paint_escritorio_win_10.png"
              alt="Pantalla inicial de Windows">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/informaticabasica/modulo2/aplicaciones/paint_abierto_win_10.png"
              alt="Apagar la computadora">
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselAbrir" role="button" data-slide="prev" @click="obtenerIndice">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselAbrir" role="button" data-slide="next" @click="obtenerIndice">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


    </div>

  </modulo-contenedor-curso>
  <!--  -->
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>