#m-1-computadora {
  
//se heredan los estilos de /layouts/layout-modulos.less
// el lienzo dentro de esta página es diferente
  #lienzo-svg{
    display: block;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    overflow: visible;/*permite que el tooltip se pueda ver sobre los márgenes*/
    // background-color:rgb(51, 192, 180);
    width:75%; //width y height son el viewport de el grafico svg
    height: 100%; //89% del 80vh del contenedor principal, si es necesario modificar el tamaño de la imagen hacerlo con height y width en este selector
  }


// .breadcrumb>li+li:before { 
//   color: rgb(53, 51, 51); 
//   content: ">"; }



}


