#indice-estudiante {


  #sidebar {
    min-width: 130px;
  }

  .nav-link[data-toggle].collapsed:after {
    content: "▾";
  }

  .nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
  }


}

.row.contenido-menu {
  background-color: aqua;


}

.item-modulo {
  background-color: cadetblue;
  padding         : 20px;
}

.item-modulo>a {
  display         : block;
  background-color: white;
}

.item-modulo>a>img {
  width : 10vw;
  height: 10vh;

}

.mensaje-bienvenida {
  position   : absolute;
  // margin-top:-50%;
  margin-left: 50%;
  z-index: 2;
}