#m1-computadora {
  // el alto del contenedor será el 80% del viewport
  height: 88.5vh;
  nav:first-child ol{
    margin: 0 !important;
  
  }
  [v-cloak]>* {
    display: none;
    
  }
  .div-header{
    display: inline-block;
    width: 100%;
  }
  .div-contenido{
    display: inline-block;
    text-align: center;
    background-color: palevioletred;
    width: 100%;
    height: 100%;

  }

  #lienzo-svg{
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    overflow: visible;/*permite que el tooltip se pueda ver sobre los márgenes*/
    background-color:chartreuse;
    width:70%; //width y height son el viewport de el grafico svg
    height: 90%; //100% del 80vh del contenedor principal
  }
  //aplica estilo a los elementos de clase g con clase "contenedor", estos elementos contendrán el grupo de graficos svg sobre los cuales se moverá el mouse 
  g.contenedor:hover {
    fill: #CC2600;
  } 
   
.tooltip {
    pointer-events:none;//permite que los eventos del puntero no apliquen en este elemento, sirve para que si el mouse se superpone al tooltip, este no interfiera con @mousemove
    opacity:1;
    font-size:2em;
}
.breadcrumb>li+li:before { 
  color: rgb(53, 51, 51); 
  content: ">"; }

}

