#mouse-sobre-imagen {
  
  .div-contenedor{
    text-align: center;
    background-color: palevioletred;
  }

  #lienzo-svg{
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    opacity:0.9;
    overflow: visible;/*permite que el tooltip se pueda ver sobre los márgenes*/
  }
  //aplica estilo a los elementos de clase g con clase "contenedor", estos elementos contendrán el grupo de graficos svg sobre los cuales se moverá el mouse 
  g.contenedor:hover {
    fill: rgb(14, 179, 50) 
  } 
  // aplica el estilo a todos los elementos g.tooltip.css que estan inmediatemente despues de g.contenedor en estado :hover, 
  g.contenedor:hover + g.tooltip.css{
    opacity:1;
  }

   
.tooltip {
    pointer-events:none; /*let mouse events pass through*/
    opacity:0;
    transition: opacity 0.3s;
    text-shadow:1px 1px 0px gray;
    font-size:2em;
    // en lo posible insertar el atriburo transform : translate () con los parametros calculados

}

/* elementos g.tooltip que no aplican la clase .css */
g.tooltip:not(.css) {
  fill:currentColor;
}
g.tooltip rect {
    fill: lightblue;
    stroke: gray;
}



}
