<div id="m-7-paginas-internet" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/estudiante/modulo-7/m-7-paginas-internet.less</em>, <em>assets/js/pages/estudiante/modulo-7/m-7-paginas-internet.page.js</em>, and <em>api/controllers/estudiante/modulo-7/view-m-7-paginas-internet.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
