<div id="login" v-cloak>

  <modulo-contenedor-admin>
    <div class="login-contenedor">
      <modulo-login>

      </modulo-login>
    </div>
  </modulo-contenedor-admin>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>