<div id="indice-estudiante" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/estuadiante/indice-estudiante.less</em>, <em>assets/js/pages/estudiante/indice-estudiante.page.js</em>, and <em>api/controllers/estudiante/view-indice-estudiante.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
