<div id="indice-estudiante" class="container-fluid" v-cloak>

  <div class="div-contenido container-fluid" v-cloak>
    <div class="row" id="div-cabecera">

      <div class="col-sm-8">
        <modulo-barra-nav data-intro="Puedes navegar siguiendo una ruta" data-step="3" :breadcrumb="breadcrumb"></modulo-barra-nav>
      </div>
      <div class="col-sm-2">
        <img src="/images/svg/iconoPolhibou.svg" alt="Logo Polhibou" />
      </div>
      <div class="col-sm-2">
          <modulo-panel-derecho v-if="existeCursoEstudianteyLogueado" key="LogueadoConAvance" :usuario="usuario"
          :curso-estudiante="cursoEstudiante" :curso="curso" :puntaje-actual="progreso.puntos"
          :nivel-actual="progreso.nivel" :total-niveles="progreso.totalNiveles" :medalla-actual="progreso.medalla"
          :porcentaje-avance="progreso.porcentajeAvance"></modulo-panel-derecho>
        <modulo-panel-derecho v-else-if="noExisteCursoEstudianteyLogueado" key="logueadoSinAvance"
          :usuario="usuario"></modulo-panel-derecho>
        <modulo-panel-derecho v-else key="visitante"></modulo-panel-derecho>

      </div>
    </div>

    <!-- Contenedor de contenido -->
    <div class="row" id="div-body">
      <!-- columna izquierda -->
      <div class="col-sm-1 col-izquierda">
        <!-- aqui normalmente iria el menu lateral pero aqui no es necesario -->
      </div>
      <div class="col-sm-11" id="columna-contenido-lateral">
        <div class="row fila-principal">
          <!-- Columna central -->
          <div class="col-sm-11 col-central">
            <div class="row">
              <div data-intro="Puedes pulsar la flecha derecha para empezar a navegar desde el primer módulo" data-step="2" class="navegacion-siguiente">
                <a :href="navegarSiguiente" data-toggle="tooltip" title="Pulsa para continuar"><i style="position: relative;-webkit-animation: mymove 2.5s 3; 
                  animation: mymove 2.5s 3;" class="fas fa-chevron-right fas-3x"></i> </a>
              </div>
              <div class="navegacion-atras">
                <a :href="navegarAtras" data-toggle="tooltip" title="Pulsa para regresar"> <i
                    class="fas fa-chevron-left fas-lg"></i> </a>
              </div>
              <div class="col" id="titulo-modulo">
                <!-- <h1 class="mensaje-bienvenida" >BIENVENIDO!!</h1> -->
                <img class="mensaje-bienvenida" src="/images/svg/bienvenido.svg" alt="Logo Polhibou" />
                <h6>{{tituloContenido}}</h6>
              </div>
            </div>

            <div class="row contenido-menu">
              <div class="col">
                <div data-intro="Puedes seleccionar el módulo que deseas revisar" data-step="1" class="row">
                  <div class="col-sm-3 item-modulo" v-for="contenido in contenidos">
                    <template v-if="isAlfaWeb">
                      <a key="modImage" :href="'/contenido-alfaweb/?enlace='+contenido.enlace"> <img
                          :src="contenido.multimedia.imagen" alt="La Computadora, Módulo 1"></a>
                      <p><a key="modText"
                          :href="'/contenido-alfaweb/?enlace='+contenido.enlace">{{contenido.nombreModulo}}</a></p>
                    </template>
                    <template v-else>
                      <!-- la propiedad key es necesaria porque vue reutiliza los elementos, y podria no cambiar el atributo href -->
                      <a key="modImage1" :href="'/interfaz-modulos/?objetoId='+contenido.id+'&tipoContenido=Modulo'">
                        <img :src="contenido.multimedia.imagen" alt="La Computadora, Módulo 1"></a>
                      <p> <a key="modTexto1"
                          :href="'/interfaz-modulos/?objetoId='+contenido.id+'&tipoContenido=Modulo'">{{contenido.nombreModulo}}</a>
                      </p>
                    </template>

                  </div>

                </div>
              </div>
            </div>
            <div v-if="contenidoVacio" class="d-flex justify-content-center">
              <p>NO EXISTEN MÓDULOS REGISTRADOS EN ESTE CURSO</p>
            </div>
          </div>
          <!-- columna derecha -->
          <div class="col-sm-1 col-derecha">
            
          </div>
        </div> <!-- fin fila de contenido central y barra lateral derecha -->
      </div>
      <!--fin columna contenido central y barra lateral derecha-->


    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>