<div id="indice-estudiante" class="container-fluid" v-cloak>

  <div class="div-contenido container-fluid" v-cloak>
    <div class="row" id="div-cabecera">
      
      <div class="col-sm-10">
        <modulo-barra-nav :breadcrumb="breadcrumb"></modulo-barra-nav>
      </div>
      <div class="col-sm-2">
        <img src="images/svg/iconoPolhibou.svg" alt="Logo Polhibou" />
      </div>
    </div>

    <!-- Contenedor de contenido -->
    <div class="row" id="div-body">
      <!-- columna izquierda -->
      <div class="col-sm-2 col-izquierda">
        <!-- <modulo-side-var-menu></modulo-side-var-menu> -->
      </div>
      <div class="col-sm-10" id="columna-contenido-lateral">
        <div class="row fila-principal">
          <!-- Columna central -->
          <div class="col-sm-10 col-central">
            <div class="row">
              <div class="navegacion-siguiente">
                <a :href="navegarSiguiente" data-toggle="tooltip" title="Pulsa para continuar"><i style="position: relative;-webkit-animation: mymove 2.5s 3; 
                  animation: mymove 2.5s 3;" class="fas fa-arrow-alt-circle-right fas-3x"></i> </a>
              </div>
              <div class="navegacion-atras">
                <a :href="navegarAtras" data-toggle="tooltip" title="Pulsa para regresar"> <i class="fas fa-arrow-alt-circle-left fas-lg"></i> </a>
              </div>
              <div class="col" id="titulo-modulo">
                <!-- <h1 class="mensaje-bienvenida" >BIENVENIDO!!</h1> -->
                <img class="mensaje-bienvenida" src="images/svg/bienvenido.svg" alt="Logo Polhibou" />
                <h2>{{tituloContenido}}</h2>
              </div>
            </div>

            <div class="row contenido-menu">
              <div class="col">
                <div class="row">
                  <div class="col-sm-3 item-modulo" v-for="contenido in contenidos">
                    <a :href="'/contenido-alfaweb/?enlace='+contenido.enlace"> <img :src="contenido.multimedia.imagen" alt="La Computadora, Módulo 1"></a>
                    <a :href="'/contenido-alfaweb/?enlace='+contenido.enlace">{{contenido.nombreModulo}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- columna derecha -->
          <div class="col-sm-2 col-derecha">
            <modulo-panel-derecho :usuario="usuario"></modulo-panel-derecho>
          </div>
        </div> <!-- fin fila de contenido central y barra lateral derecha -->
      </div>
      <!--fin columna contenido central y barra lateral derecha-->


    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>