<div id="interfaz-modulos" v-cloak>

  <modulo-contenedor-curso :curso="curso" :objeto-seleccionado="objetoSeleccionado"  :breadcrumb="breadcrumb" :usuario="usuario">
    <!-- CONTENIDO MULTIMEDIA -->
    <div v-html="objetoSeleccionado.contenidoTiny"></div>
    <!-- EJEMPLO CON IMAGEN ESTATICA -->
    <!-- LA IMAGEN SE DESCARGA DEL SERVIDOR -->
      
  </modulo-contenedor-curso>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>