<div id="m-1-teclado" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/estudiante/m1-teclado.less</em>, <em>assets/js/pages/estudiante/m1-teclado.page.js</em>, and <em>api/controllers/estudiante/view-m-1-teclado.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
