<div id="m-4-guardar" v-cloak>
  <modal-detalle-elemento :info-element="guardar">

  </modal-detalle-elemento>
  <modal-detalle-elemento :info-element="imprimir">

  </modal-detalle-elemento>
  <!-- CONTENIDOS******************************************************************************************* -->

  <modulo-contenedor-curso :navegar-atras="navegarAtras" :navegar-siguiente="navegarSiguiente" :breadcrumb="breadcrumb"
    :usuario="usuario" :curso="curso" :objeto-seleccionado="objetoSeleccionado" :titulo-temporal.sync="tituloEvaluacion"
    @evaluacion-individual="evaluacionIndividual" ref="curso" :mostrar-icono-repetir="mostrarIconoRepetir"
    @intentar-nuevamente="intentarNuevamente" :progreso="progreso" @click-asistente-buho="clickMostrarPista">
    <!--mostrarIconoRepetir es una varible de tipo Boolean-->

    <!-- si el contenido retornado es un submodulo se permiten las evaluaciones -->
    <modulo-ev-individual v-if="evIndividual" :submodulo="objetoSeleccionado" :usuario="usuario"
      @finaliza-evaluacion="finalizaEvaluacion" ref="componenteEvaluacion" :curso="curso"
      @actualiza-progreso="actualizaProgreso">

    </modulo-ev-individual>
    <div v-else id="contenedor-lienzo">
      <div class="contenedor-imagen-svg">

        <svg id="lienzo-svg" class="scaling-svg" width="440.85" height="255" version="1.1" viewBox="0 0 116.64 67.469"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="g896" transform="translate(-5.9779 -.65631)">
            <image id="image860" x="5.9779" y=".65631" width="52.123" height="67.469"
              style="image-rendering:optimizeQuality;paint-order:fill markers stroke;stroke-linecap:square;stroke-width:1.6;stroke:#1e820e"
              preserveAspectRatio="none"
              xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMUAAAD/CAMAAAB2B+IJAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAY1BMVEUAAADB5/p8zfVav/JD u/Gj2/iQ1PYAru8Aqu4ArO8Ar+/S7vvF6fpvyfSu3vh1y/QAqO5nw/Mvt/FixfPe8Pz////s+f65 5Pn2+/6a1/dQvPJJvvLQ7fu23/gNs/Dk9v3n9v2Cr4lkAAAAAXRSTlMAQObYZgAAAAFiS0dEFeXY +aMAAAAHdElNRQfkAggNHi1nM3hCAAAAAW9yTlQBz6J3mgAAA0RJREFUeNrt3W13mjAAhmFUhMS3 US3WVov7/79ydXNdrVISEpqn3X1/5RzDVZDigUCWERERERERERERERERERERERGpNxpP8iRNptEM RWmMLZNkzSyOYT4zaQR/i4FYJDbEYSTaleIylgqKYEb6/emUDUOsNBSBW+OHxA4VypjIKEIYzgob v3gMN4WtZnfL2N2tKxOJ4aSoNvf1EG3HVRyGi8I8DGI4tYqzNRwUZjUYoq4LG4PhoFgPiKh3Ub7i 3Qr7GL7fbJ7etR/Pz8uuzoCGUZhDoGG7vv7xYk1VnIVXJw/DKEKPT/ntk5zqz1/ncLW0x8+m4RXz 6vbn2s3vxfc3jIKK57bzzaZV4c1IqLDtCl9GQkX5gcKToarwY8gqvBi6Cp8Drq7ChyGs8NippBXO DG2FK0Nc4chQV7gx5BVORyp5hRNDX2Gb76AoTfEdFHaCAgUKFChQoECBAgWKYMWh5frF+XrhF1HU TcvnPn6qYhGoGFW3xjDnS7fdt8pFUYRfY13kpnpfc744WU8/RxHjevfu+K7d66K8c/w4CjMKZ7Rv p+67zOIoytl2MMSxe/RYirIM/YK3tXIZPZrC5MXzQ+ymy9LppsVoitMtD/FzHTqeImEodEKhEwqd UOiEQqf/WTHAHIWQ+Qw9FNY0+T5t+dqYMIUtjoP9rHNvOw1SNAqGUz+bAMUufPxIHU1fhZmmXvc3 jU1PRaWzKer6vuqpGHS2iHe2p2KfesUvWvdTWC3F3qJQCYVOKHRCoRMKnVDohEInFDqh0AmFTih0 QqETCp1Q6IRCJxQ6odAJhU4odEKhEwqdUOiEQicUOqHQCYVOKHRCoRMKnVDohEKn/1ohNovk35Nn /BRN6hW/qOmpqIZ7kIx/u76zqyK8xiZeq74z3UqrM9Xt7QuIfBV56pV/Raxtb0VpmyEfFeXcdnox P9p/ZrQpJ9Hf3eZb8MzoMvkc9RvT1B0Umy/wxIBNp6LQV5hxp6L1yYw6medORTZLvZLdim5EVqi8 kLUtu3RQZE34QMPmgsjm2hvDHJwU2cLqHqds6Yh4aVMpQuzL//Dug+zFd/zuKc177T965f145GUg IiIiIiIiIiIiIiIiIiIiIkrRL2vVDz2S9UN5AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTAyLTA4 VDEzOjMwOjQ1KzAwOjAwZG41qAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wMi0wOFQxMzozMDo0 NSswMDowMBUzjRQAAAAASUVORK5CYII= " />
            <image id="image889" x="66.263" y="5.991" width="56.356" height="51.065"
              style="image-rendering:optimizeQuality;stroke-width:2.3;stroke:#b3820e" preserveAspectRatio="none"
              xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANUAAADBCAMAAABv2QU8AAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAllBMVEUAAABhqNosktExlNI7 l9OozOm21OwmkNDc6/b////19fW0tLQNDQ0lJSUzMzMcGxovLy8XFxcpKSkAAADq6urNzc07nNvk 8/9lZWWQkJAPDw+fn5/c3Nw/Pz9LS0vDw8Onp6dFRUWEhIRwcHDQ1dk7Ozu7u7tbW1uLi4vm5ubs 9Pp2st5CmtRrrdyQwOTF3fB6enpQUFAAgZqgAAAAAXRSTlMAQObYZgAAAAFiS0dECfHZpewAAAAH dElNRQfkAggNJCLSJbuqAAAAAW9yTlQBz6J3mgAAA7ZJREFUeNrt3W1X2jAAhuFahgVqTBroLLXy IgOcsE3//5/b9AAmpWjSpiRhz/3RnWNznZYUR1KCACGEEEIIIYRc7irs2Ci8alfV+WajDlRQQQUV VFBB9R+ownazowq7123WDa2ool6/zXoRVFBBBRVUUJlVDczljiq+Iaa6id1RkVtTEaigggoqqKCC CqqYXqaKmYq6o2olqKCCCipPVHHCTZW4M7Nf6HsLqKCCCiqooILKlmpITTV0RzVKzTVyRnWZ79mh ggoqqKCCCiqooIIKKqigggoqqKCCCiqooLKq+v5RdNeq6i4SjtVYFWeccH5i+Z70qYyxRYH1j8X/ jTWLvzSNc8J0Pm9yIEaS8aeme2ru87VzRsj9SVPx4Kfp3TU59YLKfbv2xFgyrbz6ctsDa1g+q1Al tkfVnFVx/dkek4GOrsHU9+vvraSsYj7PFPvYXEY9+juni8m3rYyX0MTYspB2K78R4o+C6kb+N7qI 06KyH7aqHk4aL0obb4SX1lg+Vfmo+TvuszWS70jk46a1lM4jXdkeqVbyNim2rr4B51Pb49RsJd2U 6OEGLE6AZGx7lNo9ii8gmu5UT+JPue0x6jeQzsp+cl8LLys+tj3GGokn6zC3L6UTaHuINUqFCeMw XUhzxaD5Qc7eT3G6m1SpbI+wVtIsCJXTnUPV0+vZA9VgE0aaba9dV/WiGk+DjH45rtInvbO6TqvE BzTqFDqtqvs00shp1bYeyvFzVVfVgQoqqKCCCiqooIIKKqigggqqk13m38JuqzYX+b8x4hJgnZfV ldOqfr8baX9NYLRtutq6/U8PnrsbvX7/aXxMfNLjT1D5E1T+BJU/QeVPX6p8XMc0EFXLnWou/IwW todYo0JcpLpf054J6wPJzPYQazQTlj2yrGItJ5vYHmKN5uKyzaedSlp3S31bTNzvr8QLkOx3ORbS Gmnu23wxknaDJMVOFUjL2dnEL9ZgLu+q2KOCF2nvAb+1PVCt5N1I4kaREpfRZD6ZL5V6mLSS2sFv E1oa+esHKpgebf9jqhuyzrEFWr0kFVTSknaPO9ysdl3CBsDjLYD35r5AyCJqVlIFC9tDMtBLcBRv /lstR45RwavvGzbJukIVZH6/tOgiqGzs8eMFWH76WRDBjFP/ZIwuV8HnrdaJV08jYZRm00Ch+PVt E7TinMja2d6saCJk/dVpKt2XlVjS20lzFWosqv2LZ0ozfUsqxadtJNq/FyqooIJKUaX0FXgnn+7U sKHSd+sN2zk4Qs37CxOTXr8J11bFAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTAyLTA4VDEzOjM2 OjM0KzAwOjAwxcJHQgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wMi0wOFQxMzozNjozNCswMDow MLSf//4AAAAASUVORK5CYII= " />
          </g>
          <g id="guardar documento" class="contenedor1" @click="infoObjeto('guardar')" @mousemove="mouseMovePc"
            @mouseout="mouseOutPc" transform="translate(-8.4353 -8.9861)">
            <path id="path2387"
              d="m12.728 21.993 1.8709-1.47 32.54 0.20045 9.154 9.2208v32.473l-1.7373 1.9377-40.224 0.0668-1.5516-1.91z"
              style="fill-opacity:.01005;stroke-width:.26458;stroke:#ff2d0e" />
          </g>
          <g id="imprimir documento" class="contenedor1" @click="infoObjeto('imprimir')" @mousemove="mouseMovePc"
            @mouseout="mouseOutPc" transform="translate(-8.4353 -8.9861)">
            <path id="path2389" transform="matrix(1.0544 0 0 1.038 -4.9859 -228)"
              d="m80.603 258.07-0.07255-20.856 30.5-0.0277-0.0945 20.883 6.5201 0.0945c0.79572 0.19647 1.5916 0.39298 2.2845 0.82604 0.69285 0.43307 1.283 1.1028 1.6556 1.7783 0.37251 0.67549 0.53263 1.38 0.59564 3.798 0.063 2.418 0.0315 6.5588-0.0445 8.9754s-0.19656 3.1073-0.62972 3.8399c-0.43317 0.73262-1.1785 1.5059-1.9609 1.948s-1.6011 0.55227-2.0248 0.63563c-0.42373 0.0834-0.45834 0.15258-0.47418 0.44528-0.0158 0.2927-0.0158 0.8098-0.0158 1.1169s0 0.37007-1.6117 0.4017c-1.6117 0.0316-4.8452 0.0159-6.4909 8e-3 -1.6458-8e-3 -1.7088-8e-3 -1.7325-0.34013-0.0237-0.33226-8e-3 -0.99094-8e-3 -1.3373-1e-5 -0.34637-0.0158-0.37793-3.6101-0.39362-3.5943-0.0157-10.816-0.0157-14.446 0.0157-3.6301 0.0314-3.6932 0.0944-3.7169 0.45008-0.02372 0.35571-8e-3 0.99871 0.01572 1.3217 0.02376 0.32299 0.05525 0.32299-1.5688 0.33079-1.624 8e-3 -4.9591 0.0237-6.6344-4e-3 -1.6753-0.0281-1.7268-0.11376-1.7504-0.4443-0.0236-0.33053-0.0236-0.91382-0.06366-1.2184s-0.14878-0.34082-0.71658-0.42757c-0.5678-0.0867-1.6055-0.22825-2.527-0.91351s-1.7246-1.9134-2.0631-3.0002-0.21257-2.0318-0.16527-4.2597c0.0473-2.2279 0.01566-5.7726 0.09444-7.8593 0.07879-2.0868 0.26779-2.7325 0.6616-3.3309s0.99228-1.1496 1.512-1.567c0.51973-0.41732 0.9607-0.7008 2.3781-0.82669 1.4174-0.12589 3.8112-0.0944 5.008-0.0786 1.1968 0.0157 1.1968 0.0159 1.1968 0.0159z"
              style="fill-opacity:0;stroke-width:.26458;stroke:#ff2d0e" />
          </g>
        </svg>

        <div v-cloak v-show="mostrarToolTip" class="tooltip1" :style="styleToolTip">
          <span>{{textoToolTip}}</span>
        </div>
      </div>
    </div>

  </modulo-contenedor-curso>
  <!--  -->
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>