<div id="m-5-nombres-dominio" v-cloak>



  <modal-detalle-elemento :info-element="nombre">

  </modal-detalle-elemento>

  <modal-detalle-elemento :info-element="tipo">

  </modal-detalle-elemento>



  <!-- CONTENIDOS******************************************************************************************* -->

  <modulo-contenedor-curso :navegar-atras="navegarAtras" :navegar-siguiente="navegarSiguiente" :breadcrumb="breadcrumb"
    :usuario="usuario" :curso="curso" :objeto-seleccionado="objetoSeleccionado" :titulo-temporal.sync="tituloEvaluacion"
    @evaluacion-individual="evaluacionIndividual">
    <modulo-ev-individual v-if="evIndividual">

    </modulo-ev-individual>
    <div v-else>
      <svg id="lienzo-svg" version="1.1" viewBox="0 0 132.29 79.375" xmlns="http://www.w3.org/2000/svg">
        <g id="texto">
          <text id="text1394" x="30.11952" y="39.093792"
            style="fill:#000000;font-family:sans-serif;font-size:10.583px;letter-spacing:0px;line-height:1.25;stroke-width:.26458;word-spacing:0px"
            xml:space="preserve">
            <tspan id="tspan1392" x="30.11952" y="39.093792" style="stroke-width:.26458">
              <tspan id="tspan1400" style="fill:#00e400">GOOGLE</tspan>.<tspan id="tspan1402" style="fill:#0000e6">COM
              </tspan>
            </tspan>
          </text>
        </g>
        <g id="nombre del sitio" class="contenedor1" @click="infoObjeto('nombre')" @mousemove="mouseMovePc"
          @mouseout="mouseOutPc">
          <rect id="rect1411-6" x="27.403" y="27.592" width="50.082" height="15.119"
            style="fill-opacity:0;paint-order:normal;stroke-width:0" />
        </g>
        <g id="extensión de dominio" class="contenedor1" @click="infoObjeto('tipo')" @mousemove="mouseMovePc"
          @mouseout="mouseOutPc">
          <rect id="rect1411-6-3" x="76.351" y="27.63" width="33.64" height="15.119"
            style="fill-opacity:0;paint-order:normal;stroke-width:0" />
        </g>
      </svg>


      <div v-cloak v-show="mostrarToolTip" class="tooltip1" :style="styleToolTip">
        <span>{{textoToolTip}}</span>
      </div>

    </div>

  </modulo-contenedor-curso>
  <!--  -->
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>