<div id="administrar-contenidos" class="container-fluid">
  
  <!-- Modal -->
<div class="modal fade" id="modalConfirmaEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Curso </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Quieres eliminar el curso: <strong>{{curso.nombre}}</strong></p>
          <p>Se eliminarán también sus módulos asociados</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" @click="eliminarDocumento()">Eliminar con Axios</button>
          <a class="btn btn-primary" :href="'/eliminar-curso/?cursoId='+curso.id" role="button">Aceptar</a>
          <a class="btn btn-primary"  href="" data-dismiss="modal" role="button">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
  <modulo-contenedor-admin :breadcrumb="breadcrumb">

    <div id="menuContenidos">
      <h4>{{curso.nombre}}
        <a :href="'/view-actualizar-curso/?cursoId='+curso.id">
          <i class="fas fa-edit"></i>
        </a>
       <a href="" data-toggle="modal" data-target="#modalConfirmaEliminar"  data-placement="top" title="Eliminar Curso">
         <i class="fas fa-trash-alt"></i>
        </a>
      </h4>
      <!--curso obtenido desde el servidor-->
      <h5>{{curso.descripcion}}</h5>

      <div v-for="modulo in contenidos" class="dropdown">
        <a class="btn btn-primary dropbtn" :href="modulo.enlace">{{modulo.nombreModulo}}
        </a>
        
        <div class="dropdown-content ">
          <a v-for="submodulo in modulo.submodulos" :href="submodulo.enlace">{{submodulo.nombre}}</a>
        </div>
      </div>
      <a class="btn btn-primary dropbtn" href="#">+ CREAR</a>
    </div>
  </modulo-contenedor-admin>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>