<div id="administrar-home" class="container-fluid" >
    <modulo-contenedor-admin :breadcrumb="breadcrumb"> 
      <div class="container">
        <div class="row">
          <div class="col">
            <a class="btn btn-primary" href="#" role="button">Estudiantes</a>
          </div>
          <div class="col">
            <a class="btn btn-primary" href="/administrar-contenidos" role="button">Contenidos</a>
          </div>
        </div>
      </div>
    </modulo-contenedor-admin>
  </div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
