<div id="administrar-indice" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/administrador/administrar-indice.less</em>, <em>assets/js/pages/administrador/administrar-indice.page.js</em>, and <em>api/controllers/administrador/view-administrar-indice.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
