<div id="administrar-home" class="container-fluid">

  <!-- Modal Eliminar-->
  <div class="modal fade" id="modalConfirmaEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Curso </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Quieres eliminar el curso: <strong>{{cursoEliminar.nombre}}</strong></p>
          <p>Se eliminarán también sus módulos asociados</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" @click="eliminarDocumento()">Aceptar</button>
          <a class="btn btn-primary" href="" data-dismiss="modal" role="button">Cancelar</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Pagina principal -->
  <modulo-contenedor-admin :breadcrumb="breadcrumb" :usuario="usuario">
    <div class="container">
      <div class="row">
        <!-- COLUMNA IZQUIERDA: ESTUDIANTES -->
        <div class="col">
          <h3>Últimos estudiantes logueados</h3>
          <div class="list-group">
            <a v-for="estudiante in estudiantes" :href="'/view-puntaje-estudiante/?estudianteId='+estudiante.id"
              class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{estudiante.nombre}}</h5>
                <span class="badge badge-primary badge-pill">puntos: </span>
                <span class="badge badge-primary badge-pill">nivel: </span>
              </div>
              <p class="mb-1">ultimo Acceso: {{fechaUltimoAccesoEstudiante(estudiante)}}</p>
              <p class="mb-1">Cursos tomados:</p>
              <p v-for="curso in estudiante.cursos" class="mb-1">{{curso.nombre}}</p>
            </a>
            <!-- <a class="list-group-item list-group-item-action" href="#"><i class="fas fa-plus"></i> Agregar
              Estudiante</a> -->
          </div>
        </div>
        <!-- COLUMNA DERECHA: CURSOS -->
        <div class="col">
          <h3>Cursos</h3>
          <div class="list-group">

            <boton-curso v-for="(curso,index) in cursos" :key="curso.id" :curso="curso" @guardar-curso="guardarCurso"
              @selecciona-curso-eliminar="seleccionaCursoEliminar">

            </boton-curso>

            <a class="list-group-item list-group-item-action" href="/view-crear-curso"><i class="fas fa-plus"></i>
              Agregar
              Curso</a>
          </div>


        </div>
      </div>
    </div>
  </modulo-contenedor-admin>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>