<div id="administrar-contenido" v-cloak>


    <!-- no importa el contenedor que se use, después se puede editar -->
    <modulo-contenedor-curso :curso.sync="curso" :titulo-temporal="tituloTemporal"
        :objeto-seleccionado.sync="objetoSeleccionado">
        <!-- CONTENIDO DE LA VENTANA -->
        <!-- <h2>Agregar Nuevo Módulo</h2> -->
        <div class="contenedor-formulario">

            <form id="formulario">



                <!-- Se conserva method="post" de tiny por defecto  -->
                <form method="post">
                    <textarea id="mytextarea">Escriba aquí el texto</textarea>
                    <!-- EL CONTENIDO DE ESTA ETIQUETA SE ESTABLECE EN EL ARCHIVO layout.ejs -->
                    <!-- <input id="guardaTiny" type="submit" value="Guardar Tiny"> -->
                </form>

                <div class="contenido-tiny">
                    <!-- EL CONTENIDO DE ESTA ETIQUETA SE ESTABLECE EN EL ARCHIVO layout.ejs -->
                </div>

                <button type="button" id="enviarModulo" @click="validarFormulario"> Guardar Módulo</button>


                <br>
                <br>
                <br>
            </form>
        </div>
    </modulo-contenedor-curso>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>