<div id="administrar-contenidos" class="container">
    <div >
            Página para administrar contenidos
            CABECERA
            {{valorPrueba}}
    </div>
    <div>
        <ul>
            <li v-for="item in contenidos">{{item}}</li>
           
        </ul>
    </div>
    <div>
        <input type="text" v-model="contenidoNuevo" v-on:keyup.enter="agregarModulo">
        <label>Usted está digitando + {{contenidoNuevo}}</label>
    </div>
    

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>