<div id="administrar-contenidos" class="container-fluid">
  <modulo-contenedor-admin :breadcrumb="breadcrumb">

    <div id="menuContenidos">
      <h3>Curso: {{curso.nombre}} <h5><a :href="'/view-actualizar-curso/?cursoId='+curso.id"><i class="fas fa-edit"></i></a>  </h5></h3> <!--curso obtenido desde el servidor-->
      <h4>Descripción: {{curso.descripcion}}</h4>

      <div v-for="modulo in contenidos" class="dropdown">
        <a class="btn btn-primary dropbtn" :href="modulo.enlace">{{modulo.nombreModulo}}</a>
        <div class="dropdown-content ">
          <a v-for="submodulo in modulo.submodulos" :href="submodulo.enlace">{{submodulo.nombre}}</a>
        </div>
      </div>
      <a class="btn btn-primary dropbtn" href="#">+ CREAR</a>
    </div>
  </modulo-contenedor-admin>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>