<div id="administrar-home" class="container-fluid" >
    <modulo-contenedor-admin :breadcrumb="breadcrumb"> 
      <div class="container">
        <div class="row">
          <div class="col">
            <a class="btn btn-primary" href="#" role="button">Estudiantes</a>
          </div>
          <div class="col">
            <h3>Cursos</h3>
            <ul>
              <li v-for="curso in cursos"><a :href="'/administrar-contenidos/?cursoId='+curso.id"> {{curso.nombre}}</a> </li>
            </ul>
            <a class="btn btn-primary" href="/crear-curso" role="button">Agregar</a>

          </div>
        </div>
      </div>
    </modulo-contenedor-admin>
  </div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
