<div id="administrar-contenidos" class="container-fluid">

  <div class="container">
    <div class="row">
      <div class="col">
          <a class="btn btn-primary" href="#" role="button">Estudiantes</a>
      </div>
      <div class="col">
          <a class="btn btn-primary" href="#" role="button">Contenidos</a>
        </div>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>