<div id="administrar-contenido" v-cloak>


    <!------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------>
    <!-- MODAL ELIMINAR MODULO O SUBMODULO-- ----------------------------------------------->
    <!------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------>
    <div class="modal fade" id="modalConfirmaEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Objeto </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Quieres eliminar el objeto: <strong>{{objetoSeleccionado.nombre}}</strong></p>
                    <p>Se eliminarán también sus objetos asociados</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal"
                        @click.stop="eliminarDocumento()">Aceptar</button>
                    <a class="btn btn-primary" href="" data-dismiss="modal" role="button">Cancelar</a>
                </div>
            </div>
        </div>
    </div>



    <!-- v-if es necesario porque hay un error al invocar v-model="preguntaEnEdicion.respuesta" -->
    <!------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------>
    <!-- MODAL CREA - EDITA PREGUNTA DE CUESTIONARIO-- ----------------------------------------------->
    <!------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------>
    <div v-if="tipoEvaluacion=='Cuestionario'" class="modal fade" id="modalCrearPreguntaCuestionario" tabindex="-1"
        role="dialog" aria-labelledby="modalCrearPreguntaLabel" aria-hidden="true" data-keyboard="false"
        data-backdrop="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-if="!modalEdicion" class="modal-title" id="modalCrearPreguntaLabel">Crear nueva pregunta </h5>
                    <h5 v-else class="modal-title" id="modalCrearPreguntaLabel">Editar pregunta
                        {{indicePreguntaEditar+1}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Enunciado de la pregunta con Tiny -->
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="tinyMce">Pregunta: (*)</label>
                        </div>
                        <div class="col-sm-10">
                            <!-- Se conserva method="post" de tiny por defecto  -->
                            <form method="post" id="tinyMce" ref="tinyEditorCuestionario">
                                <!-- EL CONTENIDO DE ESTA ETIQUETA SE ESTABLECE EN EL ARCHIVO layout.ejs -->
                                <!-- Si la variable preguntaEnEdicion.enunciado no tiene valores -->
                                <!-- es necesario usar la otra instancia tinymce en layout.ejs para poder identificar al objeto tinymce y limpiarlo -->
                                <div v-if="!modalEdicion" id="mytextarea2" class="contenidoTiny"
                                    @keyup="actualizaContTiny()"></div>
                                <!-- el metodo @keyup permite que se actualice la variable preguntaEnEdicion.enunciado para validar el campo antes de pulsar en guardar -->
                                <div v-else id="mytextarea2" class="contenidoTiny" v-html="preguntaEnEdicion.enunciado">
                                    <!-- EL CONTENIDO DE ESTA ETIQUETA SE ESTABLECE EN EL ARCHIVO layout.ejs -->
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Respuestas posibles -->
                    <!-- opcion 1 -->
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="opcion1">Opción 1:</label>
                        </div>
                        <div class="col-sm-10">
                            <input class="inputFull" name="opcion1" type="text"
                                v-model="preguntaEnEdicion.opciones.opcion1" placeholder="opción 1">
                        </div>

                    </div>
                    <!-- opcion 2 -->
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="opcion2">Opción 2: </label>
                        </div>
                        <div class="col-sm-10">
                            <input class="inputFull" name="opcion2" type="text"
                                v-model="preguntaEnEdicion.opciones.opcion2" placeholder="opción2">
                        </div>
                    </div>
                    <!-- opcion 3 -->
                    <div class="row ">
                        <div class="col-sm-2">
                            <label for="opcion3">Opción 3: </label>
                        </div>
                        <div class="col-sm-10">
                            <input class="inputFull" name="opcion3" type="text"
                                v-model="preguntaEnEdicion.opciones.opcion3" placeholder="opción 3">
                        </div>


                    </div>
                    <!-- opcion 4 -->
                    <div class="row ">
                        <div class="col-sm-2">
                            <label for="opcion4"> Opción 4: </label>
                        </div>
                        <div class="col-sm-10">
                            <input class="inputFull" name="opcion4" type="text"
                                v-model="preguntaEnEdicion.opciones.opcion4" placeholder="opción 4">
                        </div>
                    </div>
                    <!-- Drop down: seleccionar la respuesta correcta -->
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="respuestaSelect">Respuesta: (*)</label>
                        </div>
                        <div class="col-sm-10">
                            <select class="form-control inputFull" id="respuestaSelect"
                                v-model="preguntaEnEdicion.respuesta">
                                <option v-for="opcion in opcionesRespuesta(preguntaEnEdicion)"> {{opcion.texto}}
                                </option>
                            </select>
                        </div>


                    </div>
                    <!-- Pista de respuesta -->
                    <div class="row ">
                        <div class="col-sm-2">
                            <label for="pista"> Pista: </label>
                        </div>
                        <div class="col-sm-10">
                            <input class="inputFull" name="pista" type="text" v-model="preguntaEnEdicion.pista"
                                placeholder="Pista">
                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <button v-if="modalEdicion" class="btn btn-primary" data-dismiss="modal"
                        @click.stop="actualizarPreguntaCuestionario()">Aceptar</button>
                    <button v-else class="btn btn-primary" data-dismiss="modal"
                        @click.stop="insertarPreguntaCuestionario()">Aceptar</button>
                    <button class="btn btn-primary" @click.stop="onClickCerraModal()"
                        data-dismiss="modal">Cerrar</button>

                    <!-- <a class="btn btn-primary" href="" @click.stop="onClickLimpiarCampos()" data-dismiss="modal"
                        role="button">Cerrar</a> -->
                </div>
            </div>
        </div>
    </div>




    <!------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------>
    <!-- MODAL CREA- EDITA PREGUNTA DE EMPAREJAMIENTO ------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------>
    <div v-if="tipoEvaluacion=='Emparejamiento'" class="modal fade" id="modalCrearPreguntaEmparejamiento" tabindex="-1"
        role="dialog" aria-labelledby="preguntaEmparejar" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-if="!modalEdicion" class="modal-title" id="preguntaEmparejar">Crear nueva pregunta </h5>
                    <h5 v-else class="modal-title" id="preguntaEmparejar">Editar pregunta
                        {{indicePreguntaEditar+1}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Enunciado de la pregunta con Tiny -->
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="tinyMce">Pregunta (*): </label>
                        </div>
                        <div class="col-sm-10">
                            <!-- Se conserva method="post" de tiny por defecto  -->
                            <form method="post" id="tinyMce" ref="tinyEditorEmparejamiento">
                                <!-- EL CONTENIDO DE ESTA ETIQUETA SE ESTABLECE EN EL ARCHIVO layout.ejs -->
                                <!-- Si la variable preguntaEnEdicion.enunciado no tiene valores -->
                                <!-- es necesario usar la otra instancia tinymce en layout.ejs para poder identificar al objeto tinymce y limpiarlo -->
                                <div v-if="!modalEdicion" id="mytextarea2" class="contenidoTiny"
                                    @keyup="actualizaContTiny()"></div>
                                <!-- el metodo @keyup permite que se actualice la variable preguntaEnEdicion.enunciado para validar el campo antes de pulsar en guardar -->
                                <div v-else id="mytextarea2" class="contenidoTiny" v-html="preguntaEnEdicion.enunciado">
                                    <!-- EL CONTENIDO DE ESTA ETIQUETA SE ESTABLECE EN EL ARCHIVO layout.ejs -->
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Respuesta -->
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="respuestaEmpareja">Respuesta (*): </label>
                        </div>
                        <div class="col-sm-10">
                            <input class="inputFull" name="respuestaEmpareja" type="text"
                                v-model="preguntaEnEdicion.respuesta" placeholder="Escriba aquí su respuesta">
                        </div>


                    </div>
                    <div class="row ">
                        <div class="col-sm-2">
                            <label for="pista"> Pista: </label>
                        </div>
                        <div class="col-sm-10">
                            <input class="inputFull" name="pista" type="text" v-model="preguntaEnEdicion.pista"
                                placeholder="Pista">
                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <button v-if="modalEdicion" class="btn btn-primary" data-dismiss="modal"
                        @click.stop="actualizarPreguntaEmparejamiento()">Aceptar</button>
                    <button v-else class="btn btn-primary" data-dismiss="modal"
                        @click.stop="insertarPreguntaEmparejamiento()">Aceptar</button>
                    <button class="btn btn-primary" @click.stop="onClickCerraModal()"
                        data-dismiss="modal">Cerrar</button>
                    <!-- <a class="btn btn-primary" @click.stop="onClickLimpiarCampos()" href="" data-dismiss="modal"
                        role="button">Cerrar</a> -->
                </div>
            </div>
        </div>
    </div>




    <!-- fin modales -->





    <!-- ---------------------------------------------------------------- -->
    <!-- ---------------------------------------------------------------- -->
    <!-- ---------------------------------------------------------------- -->
    <!-- ---------------------------------------------------------------- -->
    <!-- ---------------------------------------------------------------- -->
    <!------------------- EVALUACIONES Y CONTENIDO ---------------------- -->
    <!-- ---------------------------------------------------------------- -->
    <!-- ---------------------------------------------------------------- -->
    <!-- ---------------------------------------------------------------- -->
    <!-- ---------------------------------------------------------------- -->

    <div class="div-contenido container-fluid" v-cloak>
        <!--CABECERA-->
        <div class="row" id="div-cabecera">
            <div class="col-sm-8">
                <modulo-barra-nav :breadcrumb="breadcrumb" :usuario="usuario"></modulo-barra-nav>
            </div>
            <div class="col-sm-2">
                <img src="/images/svg/iconoPolhibou.svg" alt="Logo Polhibou" />
            </div>
            <div class="col-sm-2">
                <!-- solo si el objetoSeleccionado es submodulo se permite la creacion de una evaluacion -->
                <modulo-panel-derecho v-if="objetoSeleccionado.nombreSubmodulo" :usuario="usuario"
                    @evaluacion-individual="evaluacionIndividual">
                </modulo-panel-derecho>
                <!-- si el objeto Seleccionado es modulo no se escucha la propiedad evaluacion-individual -->
                <modulo-panel-derecho v-else :usuario="usuario">
                </modulo-panel-derecho>
            </div>
        </div>

        <!--CUERPO-->
        <div class="row" id="div-body">
            <!-- breadcrumb-->
            <div class="col-sm-1 col-izquierda">
                <modulo-side-var-menu :curso.sync="curso" :objeto-seleccionado="objetoSeleccionado" :usuario="usuario">
                </modulo-side-var-menu>
            </div>
            <!-- columna central y lateral derecha del cuerpo -->
            <div class="col-sm-11" id="columna-contenido-lateral">



                <div class="row fila-principal">



                    <!-- Columna central del cuerpo-->

                    <!-- ---------------------------------------------------------------- -->
                    <!-- ---------------------------------------------------------------- -->
                    <!-------------------------------EVALUACIONES CREADAS------------------->
                    <!-- ---------------------------------------------------------------- -->
                    <!-- ---------------------------------------------------------------- -->
                    <template v-if="evIndividualBandera">
                        <div class="col-sm-11 col-central">
                            <h4>{{objetoSeleccionado.nombre}} - Evaluación - {{tipoEvaluacion}}</h4>
                            <!-- Drop down seleccion de tipo evaluacion -->
                            <div class="row padding_bottom">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            {{tipoEvaluacion}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <button class="dropdown-item" @click="mostrarTipoEvaluacion('Cuestionario')"
                                                type="button">Cuestionario</button>
                                            <button class="dropdown-item"
                                                @click="mostrarTipoEvaluacion('Emparejamiento')"
                                                type="button">Emparejamiento</button>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div>
                                        <a @click="clickMostrarModalCreaPregunta()" title="Añadir nueva pregunta"><i
                                                class="fas fa-plus-circle fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h6>
                                        <small v-if="tipoEvaluacion=='Emparejamiento'">*Las preguntas se mostrarán al
                                            estudiante todas a la vez, con respuestas en orden aleatorio</small>
                                        <small v-else>* Las preguntas se mostrarán una por una al estudiante</small>

                                    </h6>
                                </div>
                            </div>
                            <!-- Lista de preguntas -->
                            <div class="row">
                                <!-- SI LA VARIABLE mostrarMenuTipoEvaluacion ES FALSE SE MUESTRA LA INTERFAZ PARA EDITAR  -->

                                <div class="contenedor-slot-principal">
                                    <div class="contenedor-formulario">
                                        <!-- CUESTIONARIO -->
                                        <!-- encabezado  -->
                                        <div class="row margen_interno centrado_vertical">
                                            <div class="col-sm-4">
                                                <p>ENUNCIADO</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>RESPUESTAS</p>
                                            </div>
                                            <div class="col-sm-2">
                                                <p>OPCIONES DE PREGUNTA</p>
                                            </div>
                                        </div>
                                        <div v-if="tipoEvaluacion=='Cuestionario'" id="preguntaEvaluacion">
                                            <!-- Preguntas -->
                                            <div class="row pregunta_evaluacion"
                                                v-for="(pregunta, indexPreg) in preguntasCuestionario" :key="indexPreg">
                                                <div class="col-sm-4">
                                                    <div v-html="pregunta.enunciado">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 ">
                                                    <template v-for="(opcion,index) in opcionesRespuesta(pregunta)">
                                                        <div class="row">
                                                            <div class="col-sm-2 centrado_vertical">
                                                                <input type="radio" :id="opcion.id"
                                                                    :value="opcion.texto" v-model="pregunta.respuesta"
                                                                    class="custom-control-input">
                                                            </div>
                                                            <div class="col-sm-10 alinea_left">
                                                                <label :for="opcion.id">{{opcion.texto}}</label>
                                                            </div>
                                                        </div>
                                                    </template>
                                                    <div class="alinea_left">
                                                        <p><small>Puedes editar la pregunta
                                                                seleccionando la opción
                                                                correcta.</small></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <small>
                                                        <div class="row">
                                                            <div class="col-sm-4"></div>
                                                            <div class="col-sm-4">
                                                                <p>{{pregunta.pregNumero}}</p>
                                                            </div>
                                                            <div class="col-sm-4"></div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-4"></div>
                                                            <div class="col-sm-4">
                                                                <p>
                                                                    <a @click.stop="mostrarEditarPreguntaEvaluacion(pregunta,indexPreg)"
                                                                        data-placement="top" title="Editar pregunta"> <i
                                                                            class="fas fa-edit fa-2x"></i> </a>
                                                                </p>

                                                                <p>
                                                                    <a @click.stop="eliminarPreguntaCuestionario(pregunta,indexPreg)"
                                                                        data-placement="top"
                                                                        title="Eliminar pregunta"><i
                                                                            class="fas fa-trash-alt fa-2x"></i></a>
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-4"></div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- EMPAREJAMIENTO -->
                                        <div v-if="tipoEvaluacion=='Emparejamiento'">
                                            <div class="row pregunta_evaluacion"
                                                v-for="(pregunta,indexPreg) in preguntasCuestionario">
                                                <div class="col-sm-4" :id="'Preg'+indexPreg" key="'Preg'+indexPreg">
                                                    <div v-html="pregunta.enunciado"></div>
                                                </div>

                                                <div class="col-sm-6" :id="'Resp'+indexPreg" key="'Resp'+indexPreg">
                                                    <p>{{pregunta.respuesta}}</p>

                                                </div>
                                                <div class="col-sm-2">
                                                    <small>
                                                        <div class="row">
                                                            <div class="col-sm-4"></div>
                                                            <div class="col-sm-4">
                                                                <p>{{pregunta.pregNumero}}</p>
                                                            </div>
                                                            <div class="col-sm-4"></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-4"></div>
                                                            <div class="col-sm-4">
                                                                <p>
                                                                    <a @click.stop="mostrarEditarPreguntaEvaluacion(pregunta,indexPreg)"
                                                                        data-placement="top" title="Editar pregunta"> <i
                                                                            class="fas fa-edit fa-2x"></i> </a>
                                                                </p>

                                                                <p>
                                                                    <a @click.stop="eliminarPreguntaEmparejar(pregunta,indexPreg)"
                                                                        data-placement="top"
                                                                        title="Eliminar pregunta"><i
                                                                            class="fas fa-trash-alt fa-2x"></i></a>
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-4"></div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- ingresa duracion de la pregunta -->
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <label v-if="tipoEvaluacion=='Cuestionario'" for="tiempoPorPregunta">Tiempo máximo
                                        para
                                        responder cada pregunta - en segundos (*):</label>
                                    <label v-else for="tiempoPorPregunta">Tiempo máximo para emparejar todos los
                                        términos - en segundos (*):
                                    </label>
                                </div>
                                <div class="col-sm-3">

                                    <input id="tiempoPorPregunta" v-model="tiempoMaximoPorPregunta">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                            <!-- botones guardar y cancelar -->
                            <div class="row">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-3">
                                    <button class="boton_formulario" type="button" id="enviarModulo"
                                        @click="validarEvaluacion">
                                        Guardar Evaluación</button>
                                </div>
                                <div class="col-sm-3">
                                    <button class="boton_formulario" type="button" id="cancelarModulo"
                                        @click="onClickCancelarEvaluacion">
                                        Cancelar</button>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                        </div>
                    </template>
                    <!-- ---------------------------------------------------------------- -->
                    <!-- ---------------------------------------------------------------- -->
                    <!----------------CONTENIDO DEL MODULO O SUBMODULO---------------------->
                    <!-- ---------------------------------------------------------------- -->
                    <!-- ---------------------------------------------------------------- -->
                    <template v-else>
                        <div class="col-sm-11 col-central">
                            <!--botones de navegacion y Titulo-->
                            <div class="row">

                                <!--atras-->
                                <div class="col-auto">
                                    <a :href="navegarAtras"> <i class="fas fa-chevron-left fa-3x"></i> </a>
                                </div>

                                <!--titulo-->
                                <div class="col" id="titulo-modulo">
                                    <div class="form-group">
                                        <!-- <label for="nombre">* Título del módulo</label> -->
                                        <div class="row ">
                                            <div class="col tituloObjeto">

                                                <input v-if="editarNombre" type="text" id="nombre-objeto" name="nombre"
                                                    v-model="objetoSeleccionado.nombre"
                                                    placeholder="Ej: Modulo 1: la computadora"
                                                    :class="[formErrors.nombre ? 'is-invalid' : '']"
                                                    v-on:keyup.enter="editarNombre=false" maxlength="100" autofocus>
                                                <h2 v-else>{{objetoSeleccionado.nombre}}</h2>
                                                <a v-if="editarNombre" @click="actualizarNombre"
                                                    title="Guardar Nombre"><i class="fas fa-save"></i></a>
                                                <a v-else @click="mostrarEditarNombre"><i class="fas fa-edit"></i></a>
                                                <a data-toggle="modal" data-target="#modalConfirmaEliminar"
                                                    data-placement="top" title="Eliminar Objeto"><i
                                                        class="fas fa-trash-alt"></i></a>

                                            </div>
                                            <!--col-->
                                        </div>
                                        <!--row-->

                                        <div class="invalid-feedback" v-if="formErrors.nombre">Ingrese un nombre
                                            para
                                            el módulo.</div>
                                    </div>
                                </div>


                                <!--siguiente-->
                                <div class="col-auto">
                                    <a :href="navegarSiguiente"><i class="fas fa-chevron-right fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <!--contenido principal-->
                            <div class="row">

                                <div class="contenedor-slot-principal">
                                    <div class="contenedor-formulario-administrar">

                                        <form method="post" v-if="noEsInforBasica">
                                            <!-- EL CONTENIDO DE ESTA ETIQUETA SE ESTABLECE EN EL ARCHIVO layout.ejs -->
                                            <!-- <input id="guardaTiny" type="submit" value="Guardar Tiny"> -->
                                            <div id="mytextarea" class="contenidoTiny"
                                                v-html="objetoSeleccionado.contenidoTiny">
                                                <!-- EL CONTENIDO DE ESTA ETIQUETA SE ESTABLECE EN EL ARCHIVO layout.ejs -->
                                            </div>
                                        </form>
                                        <div v-else>NO SE PUEDE EDITAR ESTE CONTENIDO ACCESO RESTRINGIDO</div>
                                        <div v-if="objetoSeleccionado.nombreModulo" class="form-group">
                                            <!-- <label for="colorModulo">* Color de módulo (Si no selecciona un color se usarán colores por defecto) </label> -->
                                            <!-- <input id="colorModulo" type="color" name="color"
                                                    v-model="objetoSeleccionado.color" /> -->
                                            <div class="progress" v-if="uploadPercentage">
                                                <div class="progress-bar" role="progressbar"
                                                    :style="{width:uploadPercentage+'%'}"
                                                    :aria-valuenow="uploadPercentage" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    {{uploadPercentage}}%</div>
                                            </div>
                                            <label for="file" class=" boton_formulario"
                                                @click="onClickCambiarImagen">Cambiar
                                                Imágen </label>

                                            <input type="file" name="multimedia" id="file" class="inputfile"
                                                @change="onFileSelected" accept="image/*"
                                                :class="[computedErrorImagen ? 'is-invalid' : '']">

                                            <div class="invalid-feedback" v-if="formErrors.imagenPortada">Seleccione un
                                                archivo de
                                                imagen para la portada max:20MB.</div>
                                            <div class="invalid-feedback" v-if="formErrors.typeFile">Formatos de imágen
                                                permitidos:
                                                jpg,/png. max:20MB. </div>

                                            <div class="imagen-portada-modulo">
                                                <img :src="objetoSeleccionado.multimedia.imagen"
                                                    alt="Imágen de portada">

                                            </div>

                                        </div>
                                        <button type="button" id="enviarModulo" @click.stop="validarFormulario"> Guardar
                                            Cambios
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <!--Contenido pie de página-->
                            <div class="row pie-contenido">
                                <div class="col-sm-1" id="avatar">
                                    <img src="/images/svg/buho_original_1.svg" alt="Avatar adulto mayor">
                                </div>

                                <div class="col-sm-11" id="descripcion-objeto">


                                    <input v-if="editarDescripcion" type="text" id="descripcion" name="descripcion"
                                        v-model="objetoSeleccionado.descripcion"
                                        placeholder="Ej: En este módulo aprenderás a manejar un computador"
                                        :class="[formErrors.descripcion ? 'is-invalid' : '']"
                                        v-on:keyup.enter="editarDescripcion=false" maxlength="400">
                                    <h6 v-else>{{objetoSeleccionado.descripcion}}</h6>



                                    <a v-if="editarDescripcion" @click="actualizarDescripcion"
                                        title="Guardar descripcion"><i class="fas fa-save"></i></a>
                                    <a v-else @click="mostrarEditarDescripcion"><i class="fas fa-edit"></i></a>
                                </div>
                            </div>

                        </div>
                    </template>
                    <!-- columna derecha -->

                    <div class="col-sm-1 col-derecha">

                    </div>
                </div> <!-- fin fila de contenido central y barra lateral derecha -->

            </div>
            <!--fin columna contenido central y barra lateral derecha-->
        </div>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>