<div id="crear-submodulo" v-cloak>
  <!-- ////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////// -->
  <!-- Modal -->
  <!-- ////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////// -->
  <div class="modal fade" id="modalSeleccionObjeto" tabindex="-1" role="dialog"
    aria-labelledby="modalSeleccionObjetoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modalSeleccionObjetoLabel">Selección de Objeto</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <input type="file" name="multimedia" id="file" class="inputfile" @change="onFileSelected">
                <label for="file" title="Seleccionar Multimedia"> <a> <i
                      class="fas fa-plus-circle fa-2x"></i></a></label>
              </div>
              <div class="col-sm-10">
                <div class="contenedor-imagen" v-if="nuevoArchivo.urlLocal">
                  <img :src="nuevoArchivo.urlLocal" alt="Previsualización de imágen cargada">
                  <a @click="onBorrarImagen()"><i class="fas fa-trash-alt"></i></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 mx-auto">
                <div v-if="mapaCarrusel" class="form-group">
                  <label for="descripcionImagen">* Descripción</label>
                  <input type="text" id="descripcionImagen" name="descripcionImagen" v-model="selectedFileDescripcion"
                    maxlength="200">
                </div>
                <div class="form-group">
                  <label for="tooltipImagen">toolTip de imágen</label>
                  <input type="text" id="tooltipImagen" name="tooltipImagen" v-model="selectedFileTooltip"
                    maxlength="100">
                </div>

              </div>
            </div>
          </div>



        </div>
        <div class="modal-footer">
          <button @click="guardarArchivo" type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////// -->
  <!-- ////////////////////CONTENIDOS//////////////////////// -->
  <!-- ////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////////////////////////// -->
  <modulo-contenedor-curso :curso="curso" :objeto-seleccionado="moduloSeleccionado" :titulo-temporal="tituloTemporal"
    :crear-submodulo="crearSubmodulo" :breadcrumb="breadcrumb" :usuario="usuario"
    :admin-creando-modulo-submodulo="adminCreandoModuloSubmodulo">

    <div class="contenedor-formulario">
      <div class=" formularioCentralSmall">
        <form id="formulario">
          <!-- ingresa el titulo del submodulo -->
          <div class="form-group row">
            <div class="col-sm-3">
              <label for="nombreSubmodulo">Título del submódulo: (*)</label>
            </div>
            <div class="col-sm-9">
              <input type="text" id="nombreSubmodulo" v-model="nombreSubmodulo"
                placeholder="Ej: Partes de la computadora " class="form-control"
                :class="[formErrors.nombreSubmodulo && nombreSubmodulo==''? 'is-invalid' : '']" maxlength="100"
                autofocus>
              <div class="invalid-feedback" v-if="formErrors.nombreSubmodulo && nombreSubmodulo==''">Ingrese un nombre
                para el submódulo.</div>
            </div>
          </div>
          <!-- ingresa la descripcion del submodulo -->
          <div class="form-group row">
            <div class="col-sm3">
              <label for="descripcionSubmodulo">Breve descripción o instrucciones: (*) </label>
            </div>
            <div class="col-sm-9">
              <input type="text" id="descripcionSubmodulo" v-model="descripcionSubmodulo"
                placeholder="Ej: Las partes de la computadora son todos los accesorios que se conectan a ella"
                class="form-control"
                :class="[formErrors.descripcionSubmodulo && descripcionSubmodulo=='' ? 'is-invalid' : '']"
                maxlength="400">
              <div class="invalid-feedback" v-if="formErrors.descripcionSubmodulo && descripcionSubmodulo==''">Ingrese
                una descripción general para el
                Submódulo.</div>
            </div>
          </div>
          <!-- EDITOR DE CONTENIDOS TINYMCE -->
          <div class="form-group row">
            <div class="col-sm-3">
              <label for="tinyMce">Contenido: (*)</label>
            </div>

            <div class="col-sm-9">
              <form method="post" id="tinyMce">
                <!-- post para que las imágenes se carguen con la funcionalidad por defecto de tinymce-->
                <div id="mytextarea" class="contenidoTiny " @keyup="actualizaContTiny()"> </div>
                <!-- EL CONTENIDO DE ESTA ETIQUETA SE ESTABLECE EN EL ARCHIVO layout.ejs -->
                <div class="invalid-feedback" v-if="formErrors.contenidoTiny && !existeContenidoTiny">Debe ingresar
                  algún contenido </div>
              </form>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <button class="boton_formulario" type="button" id="enviarModulo" @click="validarFormulario">
                Guardar Módulo</button>
            </div>
            <div class="col-sm-3">
              <button class="boton_formulario" type="button" id="cancelarModulo" @click="onClickCancelar">
                Cancelar</button>
            </div>
            <div class="col-sm-1"></div>

          </div>



          <br>
          <br>
        </form>
      </div>
    </div>
  </modulo-contenedor-curso>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>