<div id="crear-modulo" v-cloak>

  
    <modulo-contenedor-curso :curso="curso" :contenidos="contenidos">

    </modulo-contenedor-curso>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>