<div id="crear-modulo" v-cloak>

    <!-- no importa el contenedor que se use, después se puede editar -->
    <modulo-contenedor-curso :curso.sync="curso" >
        <!-- CONTENIDO DE LA VENTANA -->
        <h2>Agregar Nuevo Módulo</h2>
        <form @submit.prevent="validarFormulario" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombreModulo">* Titutlo del módulo</label>
                <input type="text" id="nombreModulo" name="nombreModulo" v-model="nombreModulo" placeholder="Ej: Modulo 1: la computadora"  :class="[formErrors.nombreModulo ? 'is-invalid' : '']" autofocus>      <div class="invalid-feedback" v-if="formErrors.nombreModulo">Ingrese un nombre para el módulo.</div>
            </div>
           <div class="form-group">
                <label for="multimedia">* Seleccionar multimedia</label>
                <input type="file" id="multimedia" name="multimedia" @change="onFileSelected" accept="image/*, video/*" :class="[errorselectedFile ? 'is-invalid':'']">
                <!-- On change ejecuta un metodo cuando el valor de un elemento ha cambiado -->
                <div class="invalid-feedback" v-if="formErrors.selectedFile">Seleccione un archivo de imagen o video.</div>
                <div class="invalid-feedback" v-else-if="formErrors.typeFile">FORMATOS PERMITIDOS: Image/*, Video/*. </div>
                
           </div>
           <div class="contenedor-imagen" v-if="url">
                <img :src="url" alt="Imágen cargada">
                <a @click="onBorrarImagen"><i class="fas fa-trash-alt"></i></a>
           </div>
            

            <input type="submit" value="Guardar">
        </form>

    </modulo-contenedor-curso>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>