<div id="crear-modulo" v-cloak>

    <!-- no importa el contenedor que se use, después se puede editar -->
    <modulo-contenedor-curso :curso.sync="curso" :titulo-temporal="tituloTemporal" :breadcrumb="breadcrumb"
        :usuario="usuario" :admin-creando-modulo-submodulo="adminCreandoModuloSubmodulo">
        <!-- CONTENIDO DE LA VENTANA -->
        <!-- <h2>Agregar Nuevo Módulo</h2> -->
        <div class="contenedor-formulario">
            <div class=" formularioCentralSmall">
                <form id="formulario">

                    <div class="form-group row">
                        <label for="nombreModulo" class="col-sm-3">Título del módulo (*)</label>
                        <div class="col-sm-9">
                            <input type="text" id="nombreModulo" name="nombreModulo" v-model="nombreModulo"
                                placeholder="Ej: Modulo 1: la computadora" class="form-control "
                                :class="[formErrors.nombreModulo && nombreModulo=='' ? 'is-invalid' : '']"
                                maxlength="100" autofocus>
                            <div class="invalid-feedback" v-if="formErrors.nombreModulo && nombreModulo==''">Ingrese un
                                nombre para el módulo.</div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="descripcionModulo" class="col-sm-3">Descripción del módulo(*)</label>
                        <div class="col-sm-9">
                            <input type="text" id="descripcionModulo" name="descripcionModulo"
                                v-model="descripcionModulo"
                                placeholder="Ej: Aprende las partes básicas de la computadora" class="form-control"
                                :class="[formErrors.descripcionModulo && descripcionModulo=='' ? 'is-invalid' : '']"
                                maxlength="400">
                            <div class="invalid-feedback" v-if="formErrors.descripcionModulo && descripcionModulo==''">
                                Ingrese una descripción para el
                                módulo.</div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3">Imágen de portada (*)</label>
                        <div class="col-sm-3">
                            <label v-if="rutaTemporal==''" for="file" class=" boton_formulario">Seleccione una Imágen
                            </label>
                            <label v-else for="file" class=" boton_formulario" @click="onClickCambiarImagen">Cambiar
                                Imágen </label>
                            <input type="file" name="multimedia" id="file" class="inputfile form-control"
                                @change="onFileSelected" accept="image/*"
                                :class="[computedErrorImagen && imagenTemporal=={}? 'is-invalid' : '']"
                                style="visibility:hidden;">
                        </div>
                        <div class="col-sm-6 ">
                            <!-- CARGAR IMAGEN -->
                            <div class="progress" v-if="uploadPercentage">
                                <div class="progress-bar" role="progressbar" :style="{width:uploadPercentage+'%'}"
                                    :aria-valuenow="uploadPercentage" aria-valuemin="0" aria-valuemax="100">
                                    {{uploadPercentage}}%</div>
                            </div>
                            <div class="imagen-portada-modulo">
                                <!-- error GET al tratar de obtener la imagen obtenido del servidor, sucede porque SAILS CARGA LA IMAGEN AL SERVIDOR Y GRUNT DEBE ACTUALIZAR ESTAS IMAGENES EN LA CARPETA TEMP Y ESO LE TOMA UN POCO DE TIEMPO -->
                                <img v-if="rutaTemporal!=''" :src="rutaTemporal"
                                    alt="Previsualización de imágen cargada">
                                <img v-else src="/images/otros/image_placeholder.jpg" alt="Imagen vacía">
                            </div>
                            <div class="invalid-feedback" v-if="formErrors.imagenPortada ">
                                <p>Seleccione un archivo de
                                    imagen para la portada max:20MB.</p>
                            </div>
                            <div class="invalid-feedback" v-if="formErrors.typeFile">
                                <p>Formatos de imágen permitidos:
                                    jpg,/png. max:20MB.</p>
                            </div>


                        </div>

                    </div>

                    <div class="row">
                        <label for="tinyMce" class="col-sm-3">Contenido (*) </label>
                        <!-- Se conserva method="post" de tiny por defecto  -->
                        <div class="col-sm-9">
                            <form method="post" id="tinyMce">
                                <div id="mytextarea" class="contenidoTiny" @keyup="actualizaContTiny()"></div>
                                <!-- EL CONTENIDO DE ESTA ETIQUETA SE ESTABLECE EN EL ARCHIVO layout.ejs -->
                                <div class="invalid-feedback" v-if="formErrors.contenidoTiny && !existeContenidoTiny">
                                    Debe ingresar algún contenido </div>
                            </form>
                        </div>
                    </div>

                    <!-- FUNCIONALIDAD PARA SELECCIONAR UN COLOR PARA EL FONDO, SE GUARDA EN LA BASE DE DATOS -->
                    <!-- <div class="form-group">
                        <label for="colorModulo">* Color de módulo (Si no selecciona un color se usarán
                            colores por defecto) </label>
                        <input id="colorModulo" type="color" name="color" v-model="color" />
                    </div> -->
                    <div class="row">
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">
                            <button class="boton_formulario" type="button" id="enviarModulo" @click="validarFormulario">
                                Guardar Módulo</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="boton_formulario" type="button" id="cancelarModulo" @click="onClickCancelar">
                                Cancelar</button>
                        </div>
                        <div class="col-sm-1">

                        </div>

                    </div>

                    <br>
                    <br>
                    <br>
                </form>
            </div>

        </div>
    </modulo-contenedor-curso>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>