<div id="crear-evaluacion" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/administrador/crear-evaluacion.less</em>, <em>assets/js/pages/administrador/crear-evaluacion.page.js</em>, and <em>api/controllers/administrador/view-crear-evaluacion.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
