<div id="puntaje-estudiante" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/administrador/puntaje-estudiante.less</em>, <em>assets/js/pages/administrador/puntaje-estudiante.page.js</em>, and <em>api/controllers/administrador/view-puntaje-estudiante.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
