<div id="401-unauthorized" v-cloak>

  <!--SESION EXPIRADA-->

  <h2>Tu sesión ha expirado, necesitas loguearte</h2>
  <a href="/">Home</a>
  <a href="/view-login">Ingresar</a>
  <a href="/view-registro-usuario">Regístrate</a>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>