<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

<div>
  <div>
    ESCOJA SU ROL
  </div>
  <div>
    <ul>
      <li> <a href="/administrar">Administrador</a></li>
      <li>Tutor</li>
      <li><a href="/indice-estudiante">Estudiante</a></li>
      
    </ul>

 
  </div>
</div>
