<div id="homepage" v-cloak>
  <div class="container contenedor-principal">
    <div class="row banner-homepage">
      <!-- <div class="col">
        <img class="imagen-banner" src="/images/homepage/icono_inclusion_digital_1.jpg" alt="banner inclusión digital">
      </div> -->
    </div>
    <div class="row contenido-homepage">
      <div class="col-sm-6 homepage-logo">
        <div class="row">
          <div class="imagen-derecha-homepage">
            <img src="/images/homepage/epn.png" alt="Escudo de la EPN">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h3 class="titulo-centrado"  >BIENVENIDO!!!</h3>
            <p>
              "Alfaweb" es un sistema desarrollado por la Facultad de Sistemas de la Escuela Politécnica Nacional para promover la inclusión informática por medio de gamificación. 
            </p>
            
          </div>
        </div>

      </div>
      <div class="col-sm-6 homepage-login">
        <div class="row">

          <modulo-login>
            <div class="form-group">
              <span id="navegarSiguiente">¿No te has registrado aún?</span> <span ><a class="btn btn-info" href="/view-registro-usuario"
                  role="button">Regístrate</a></span>
            </div>
          </modulo-login>

          

        </div>
      </div>

    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>