<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
<div id="homepage" v-cloak>

<modulo-contenedor-admin :nombre-usuario="nombreUsuario">
  <div>
    ESCOGE UN USUARIO PARA INICIAR SESION (DESARROLLO)
    <ul>
      <li> <a href="/administrar-home">Administrador</a></li>
      <li>Tutor</li>
      <li><a href="/indice-estudiante">Estudiante</a></li>

    </ul>


  </div>
  <div class="jumbotron">
    <p> ESTA INTERFAZ ES PARA USO SOLO EN DESARROLLO:
      Tomar en cuenta lo siguiente
      <ul>
        <li>El Login se realizará por medio de la plataforma que desarrolla Liz</li>
        <li>La información de usuarios registrados se consumirá por medio de una API rest</li>
        <li>La implementación de la base de datos de usuarios será realizada por Liz</li>
        <li>Esta aplicación tendrá su propia base de datos y la información de usuarios será sincronizada con la base de usuarios de Liz</li>
      </ul>
    </p>

  </div>
</modulo-contenedor-admin>
</div>
