#administrar-contenido {

  //…

}

.col.tituloObjeto *,
#descripcion-objeto * {
  display: inline-block;
}


#nombre {
  max-width: 300px;
}

#descripcion {
  max-width: 800px;
}

.imagen-portada-modulo {
  width : 10vw;
  height: 10vh;
}

.inputFull {
  width: 75%;
}

.modal-body>div {
  padding: 10px 0px !important ; 
}