#crear-modulo {
  
//comentario

}

.form-group input{ //tener en cuenta que con importer, esta configuración prevalece para las siguiente páginas definidas en importes
    width: 100%;
}

div.contenedor-slot-principal{
    background-color: rgb(215, 203, 228) ;
    width: 50%;
    margin: 0 30%;
    
}

#crear-modulo .contenedor-imagen{
    position        : relative;
    height          : 30vh;
  }
  
#crear-modulo .contenedor-imagen img { // importer reemplaza los estilos con los mismos nombres
    max-height: 100%;
    max-width : auto;
  }

  div.contenedor-slot-principal {
    width      : 100%;
    margin     : 0%;
    overflow-y : hidden;
    height     : 80vh; //para poder usar el scroll
    // position: absolute;
  
  }
  .contenedor-formulario {
    height    : 100%;
    width     : 100%;
    overflow-y: auto;
  }

  #formulario{
    position: relative;
    display: block;
  }
  #enviarModulo{
    display: block;
    margin:0 auto;
  }