#crear-modulo {
	//comentario
}

.form-group input {
	//tener en cuenta que con importer, esta configuración prevalece para las siguiente páginas definidas en importes
	width: 100%;
}

div.contenedor-slot-principal {
	//clase definida dentro del componente

	width: 90%;
	margin: 0%;
	overflow-y: auto;
	height: 75vh; //para poder usar el scroll
}

#formulario {
	position: relative;
	display: block;
}
#enviarModulo {
	display: block;
	margin: 0 auto;
}
.imagen-portada-modulo {
	height: 145px;
	width: auto;
}
