<div id="m-1-conexion-componentes" class="container-fluid" v-cloak>


  <!-- MODALS******************************************************************************************* -->
  <modal-detalle-elemento>
    <!--:info-element="scroll" -->

  </modal-detalle-elemento>
  <!-- CONTENIDOS******************************************************************************************* -->

  <modulo-contenedor-curso :navegar-atras="navegarAtras" :navegar-siguiente="navegarSiguiente" :breadcrumb="breadcrumb"
    :usuario="usuario" :curso="curso" :objeto-seleccionado="objetoSeleccionado" :titulo-temporal.sync="tituloEvaluacion"
    @evaluacion-individual="evaluacionIndividual" ref="curso" :mostrar-icono-repetir="mostrarIconoRepetir"
    @intentar-nuevamente="intentarNuevamente" :progreso="progreso" @click-asistente-buho="clickMostrarPista">
    <!--mostrarIconoRepetir es una varible de tipo Boolean-->

    <!-- si el contenido retornado es un submodulo se permiten las evaluaciones -->

    <modulo-ev-individual v-if="evIndividual" :submodulo="objetoSeleccionado" :usuario="usuario"
      @finaliza-evaluacion="finalizaEvaluacion" ref="componenteEvaluacion" :curso="curso"
      @actualiza-progreso="actualizaProgreso">

    </modulo-ev-individual>
    <div v-else  id="contenedor-lienzo">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7p8gLBgQt5I" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>




  </modulo-contenedor-curso>
  <!--  -->
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
<!--  class="contenedor" @click="infoObjeto('clic-derecho')" @mousemove="mouseMovePc" @mouseout="mouseOutPc" -->
<!-- <div v-cloak v-show="mostrarToolTip" class="tooltip1" :style="styleToolTip">
        
        <span>{{textoToolTip}}</span>
      </div> 
    -->