<div id="m-1-conexion-componentes-monitor" class="container-fluid" v-cloak>


  <!-- MODALS******************************************************************************************* -->

  <!-- CONTENIDOS******************************************************************************************* -->
  <modulo-contenedor-curso :navegar-atras="navegarAtras" :navegar-siguiente="navegarSiguiente" :breadcrumb="breadcrumb" >

  </modulo-contenedor-curso>
  <!--  -->
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
