<div id="m-1-sistema-informatico-mouse" class="container-fluid" v-cloak>


  <!-- MODALS******************************************************************************************* -->

  <!-- CONTENIDOS******************************************************************************************* -->
<modulo-contenedor :titulo-contenido="tituloContenido" :descripcion-objeto="descripcionObjeto" :navegar-atras="navegarAtras" :navegar-siguiente="navegarSiguiente" :breadcrumb="breadcrumb" >

  <svg id="lienzo-svg" version="1.0" viewBox="0 0 375 225" xmlns="http://www.w3.org/2000/svg">
    <g id="mouse">
      <path id="path4" d="m177.46 7.0659c-3.4098 1.371-10.861 5.7331-16.417 9.5967l-10.103 7.104-27.783 0.12463c-31.572 0.12463-41.927 1.9941-57.334 9.9706-11.492 5.9823-22.858 17.075-22.858 22.185 0 3.3651 2.1469 2.4926 5.0515-2.2434 6.3144-10.095 20.964-19.193 37.886-23.68 9.3453-2.4926 54.935-4.2375 56.956-2.2434 0.63144 0.62316-3.2835 4.8607-10.103 10.594-18.69 15.953-24.879 25.176-22.732 34.398 1.5154 6.8548 9.3453 16.825 27.657 35.769 24.626 25.176 46.095 51.473 68.195 84.002 10.482 15.205 10.987 15.828 19.575 20.066 8.5875 4.2375 9.219 4.8756 23.363 5.6751 12.436-0.92422 15.66-1.9362 21.343-4.1795 10.103-4.2375 21.216-12.339 28.036-20.814 7.8298-9.3474 9.5978-13.336 11.997-25.3 5.1778-25.674-4.0412-57.082-25.131-85.498-14.523-19.692-57.082-57.455-80.571-71.539-10.987-6.6055-17.806-7.6026-27.025-3.9882zm20.837 3.1158c6.6932 3.3651 31.951 21.811 42.18 30.784l6.1881 5.4838-6.8195 5.1099c-14.902 11.466-14.144 10.594-12.755 17.199 2.1469 9.7213 0.88401 10.095-7.5772 2.4926-4.1675-3.739-9.7241-8.1011-12.502-9.7213-3.7886-2.1187-4.9252-3.4897-4.9252-6.2316 0-4.4868-9.0927-14.333-16.796-18.072-3.0309-1.4956-8.4612-2.8665-11.871-3.1158-3.9149-0.24926-7.7035-1.371-10.103-3.1158-2.1469-1.4956-5.4304-3.2404-7.3247-3.9882l-3.536-1.371 9.9767-6.9794c17.933-12.463 24.752-14.083 35.866-8.475zm-37.255 22.06c3.1572 1.9941 4.42 3.739 4.42 6.107 0 3.6143 4.0412 7.8518 16.922 17.199 7.8298 5.8577 9.0927 6.4809 14.649 6.2316 5.4304-0.24926 6.9458 0.24926 12.881 4.736 3.6623 2.7419 8.9664 7.104 11.745 9.472 4.9252 4.4868 5.0515 4.4868 1.768 4.6114-1.8943 0-5.4304-0.87243-7.8298-1.8695-2.5257-0.99706-5.1778-1.8695-5.8092-1.8695s-10.861 8.7243-22.732 19.318c-11.871 10.594-22.227 19.318-22.984 19.318-1.8943 0-37.76-28.79-43.19-34.897-5.8092-6.2316-8.9664-12.962-7.9561-16.95s15.281-18.819 27.152-28.167c10.482-8.2257 12.502-8.5996 20.964-3.2404zm22.984 6.6055c12.376 6.107 21.09 19.069 14.27 21.187-3.7886 1.2463-7.3246-0.3739-17.049-7.4779-11.24-8.3504-15.028-12.463-14.144-14.831 1.2629-3.1158 9.5978-2.4926 16.922 1.1217zm80.571 24.553c16.67 16.95 24.5 27.294 32.835 43.995 10.734 21.312 14.27 41.627 10.734 60.571-4.2938 22.309-27.025 43.123-51.525 47.236-11.24 1.8695-20.711 0.24927-31.698-5.2346l-7.9561-4.1129-4.7989-14.457c-8.8401-26.547-21.974-49.479-37.886-65.806-7.4509-7.6026-7.7035-8.1011-5.4304-10.095 1.2629-1.1217 10.861-9.7213 21.469-19.193l19.196-17.075 6.9458 2.1187c6.5669 1.9941 7.0721 1.9941 10.356-0.12463 3.2835-1.9941 3.2835-2.4926 2.652-10.095l-0.75773-7.8518 9.4715-7.6026c7.3247-5.7331 9.9767-7.2287 11.618-6.3562 1.1366 0.62316 7.8298 6.9794 14.776 14.083zm-118.71 41.503c29.172 22.683 40.664 35.769 53.546 61.319 5.9355 11.715 14.397 33.401 11.113 28.541-18.69-27.918-49.252-65.806-71.605-88.613-9.3453-9.5967-18.438-19.443-20.206-21.811-2.9046-4.2375-2.7783-4.1129 3.2835 1.2463 3.4098 3.1158 14.144 11.715 23.868 19.318z" style="stroke-width:.12546"/>
    </g>
  </svg>
  
</modulo-contenedor>
  <!--  -->
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>