<div id="m-1-encender-apagar-computador" class="container-fluid" v-cloak>


  <!-- MODALS******************************************************************************************* -->

  <!-- CONTENIDOS******************************************************************************************* -->
  <modulo-contenedor-curso :titulo-contenido="tituloContenido" :descripcion-objeto="descripcionObjeto" :navegar-atras="navegarAtras" :navegar-siguiente="navegarSiguiente" :breadcrumb="breadcrumb">

  </modulo-contenedor-curso>
  <!--  -->
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
    
