<div id="m-1-sistema-informatico-impresora" class="container-fluid" v-cloak>


  <!-- MODALS******************************************************************************************* -->

  <!--HEADER ******************************************************************************************* -->
  <modulo-barra-nav :breadcrumb="breadcrumb"></modulo-barra-nav>

  <!-- CONTENIDOS******************************************************************************************* -->
  <modulo-contenedor :titulo-contenido="tituloContenido" :descripcion-objeto="descripcionObjeto"
    :navegar-atras="navegarAtras" :navegar-siguiente="navegarSiguiente">

    <svg id="lienzo-svg" version="1.0" viewBox="0 0 738 657" xmlns="http://www.w3.org/2000/svg">
      <g id="impresora" transform="matrix(.12785 0 0 -.12651 -15.882 668.53)">
        <path id="path4-8"
          d="m2704 5279c-100-12-178-43-229-93-38-37-47-56-93-196-94-285-210-683-251-865-23-99-49-210-57-247l-16-68-37 5c-168 24-944 79-995 71-27-5-56-22-101-63-35-31-61-61-58-67 3-5 2-6-4-3-13 8-76-57-66-68 5-4 3-5-3-2-6 4-25-8-42-26-17-17-51-52-76-76-25-25-42-49-39-54 3-6 1-7-4-4-15 10-106-91-99-109 3-9 1-12-4-9-15 9-30-40-26-86 4-50 31-88 77-111 39-20 754-130 1477-228 152-20 236-36 264-50 21.729-10.371 116.87-97.634 152.04-96.076 78.288 3.467 127.87 9.2431 34.52 9.8287-13 8-161.56 86.247-146.56 86.247 16 0 346-47 378-54 8-2-4.554-10.419-30-12 0 0-275.79-13.483-235.96-30.076 119.58-9.4355 110.05-4.5382 212.55 6.8736 50.149 10.041 67.579 15.826 71.404 18.202 6 8 12 11 12 7 0-5 6-4 13 2 12 11 309-26 1212-148 443-60 722-91 807-91 207 1 418 96 510 228 18 26 89 150 159 275l126 226-41 11c-59 16-545 94-794 127l-214 29 7 90c23 311 42 465 96 783 97 572 92 531 79 582-6 25-23 58-38 73-25 27-120 82-127 75-2-2 21-16 51-32 84-44 102-97 78-223-30-157-124-718-124-743 0-4-7-7-15-7-18 0-18 2-4 26 8 12 9 24 2 35-7 12-16-26-32-139-13-86-20-163-17-171s2-13-3-10c-4 3-11-18-14-47-16-155-40-276-56-280-9-2 0-2 19 0 28 3 32 1 20-7-12-9-10-10 12-6 34 8 58-2 51-20-3-8 0-14 6-14s11-4 11-10c0-5-7-10-15-10s-15 3-15 8c0 4-15 8-33 9-17 0-115 15-217 32-171 28-309 48-815 116-104 14-251 34-325 45-74 10-166 22-205 26-49 5-64 10-50 15 11 5-4 6-34 2-36-4-52-3-48 4s-9 10-36 10c-23 0-94 7-157 16s-182 24-265 32c-250 25-247 24-240 45 3 11 26 107 50 214 34 153 116 470 162 629 6 21 4 21 333 2 447-26 1483-103 1878-141 41-4 62-2 62 5 0 6-10 11-22 12-22 1-22 1 2 9 14 4 21 9 15 9-5 1-2 6 8 12 14 8 17 18 12 40-4 16-2 29 3 29 13 0 25 149 17 205-6 38-11 45-30 45-13 0-25-5-27-12-3-9-6-9-12 0-4 7-2 12 3 12 16 0 13 30-3 36-8 3-24 0-36-6-27-14-73 11-64 35 4 10 0 15-14 15-12 0-25 6-29 13-11 18-69 41-82 32-6-3-11 1-11 10 0 8-10 20-22 24-21 8-21 10-5 16 10 4 29 3 43-3 14-7 24-8 24-2 0 14-46 23-78 17-31-6-59 22-41 40 7 7 1 13-17 17-22 6-25 9-13 17 7 5 21 9 29 9 13 0 13-2 0-11-12-9-12-10 3-5 10 3 22 6 25 6 4 0 0 5-8 10-16 11 20 9 149-9 41-6 77-9 79-6 3 3 1 5-4 5s-36 5-69 10c-117 20-269 39-277 34-4-3-72 2-150 10-495 52-1119 84-1274 65z" />
        <path id="path6-0"
          d="m5892 3184c-3-47-195-523-277-684-33-65-76-113-136-151-26-18-46-36-43-40 3-5-2-6-10-3s-28-2-45-10c-52-27-190-55-326-66-290-23-410-68-489-183-20-29-43-73-52-99-13-41-19-47-37-43-12 2-65 9-117 15-242 29-970 137-1405 209-264 44-581 96-705 115-1067 168-1528 248-1543 270-4 6-5 19-3 29 2 9 0 15-5 11-8-5-13 13-12 44 1 7-2 11-5 8-9-10-34 33-26 46 4 6 3 8-3 5-6-4-19 6-29 21-20 31-70 80-120 118-19 15-31 31-27 37 3 5 1 7-5 3-6-3-37 9-69 27-32 19-90 53-129 75-39 23-80.888 58-97.888 77l-14.174 35.124-9.9403 36.644-4.0048 54.241 10.834 52.188 634.33 630.83s228.62 48.141 235.22 52.663c43.854 30.059-233.29-18.446-253.46-35.899-91.237-78.94-302.67-276.96-457.65-430.3-90.515-89.556-161.75-141.73-191.81-207.44-7.2264-43.718 19.545-200.05 19.545-200.05 18-146 81-505 159-904 19-97 44-195 55-218 29-56 99-100 244-152l118-43-57-57c-31-31-123-106-205-165-156-114-165-126-133-172 26-37 184-108 315-141 39-10 69-22 67-27-1-5-85-80-187-167-103-87-187-165-189-173s6-29 17-48c18-29 29-35 83-46 35-6 72-16 83-20 11-5 90-25 175-45 98-23 173-47 205-65 29-17 191-70 393-130l342-101 333-39c238-27 393-51 547-84 118-25 305-59 415-75 110-17 217-33 237-37 36-6 39-5 53 29 14 33 215 326 268 389l22 27 80-14c181-30 479-44 545-26 19 5 45 42 110 157 47 82 107 185 133 227 42 68 52 77 78 77 18 0 29-5 29-14 0-44 618-20 767 30 92 31 130 63 172 144 45 86 176 382 228 515 100 257 120 327 152 525 31.854 203.59 91.399 767.75 97.458 1020.9-30.09-8.5528-412.37 145.37-299.46 177.08 199.44-100.03 296-148 295-174zm-4406-953c-3-5 35-9 88-9 51 0 102-5 112-10 10-6 82-17 159-26 122-14 242-30 310-41 11-2 35-4 53-4 23-1 31-5 26-13s-2-9 11-4c19 7 89-6 160-30 22-7 60-15 85-18s68-10 95-17c28-6 60-11 73-11 12 0 22-3 22-7 0-7 27-10 169-15 57-3 107-8 110-13 3-4 35-8 71-8s90-6 120-12c73-16 235-41 340-53 47-6 104-17 127-26 24-8 47-13 53-9 13 8 161-14 174-26 6-5 36-9 68-9s58-4 58-8c0-17-158-479-199-582-66-166-154-323-263-469-149-200-121-181-236-161-53 10-182 34-287 53-104 20-282 52-395 72-350 61-616 114-850 170-124 29-295 68-380 85-85 18-231 52-325 76-93 24-213 54-265 65-52 12-101 24-108 28s59 61 178 150c203 153 277 222 342 317 40 58 149 272 241 472 26 56 52 102 58 102 5 0 8-4 5-9z" />
      </g>
      <g id="btn_encendido-8" transform="matrix(.70791 0 0 .67555 282.25 284.4)">
        <ellipse id="path22-5" transform="matrix(.89516 -.44575 .43897 .8985 0 0)" cx="90.05" cy="284.5" rx="23.307"
          ry="23.716" style="fill:#0ff" />
        <ellipse id="path18-6-4" cx="205.28" cy="215.46" rx="17.69" ry="18.499" />
        <path id="path18-4-3"
          d="m204.77 213.29c-2.9541-2.0561-0.84668-3.9199-5.3037-8.5253-2.2627 1.778-4.9326 5.4241-4.9329 10.241-3.3e-4 6.5872 4.6985 11.927 10.635 11.927 5.9361-4.3e-4 10.748-5.3402 10.748-11.927-3.2e-4 -5.2799-2.0542-8.7539-4.6659-10.002-4.2505 4.366-5.3032 8.286-6.4802 8.2859z"
          style="fill:#0ff" />
        <path id="path18-47-4"
          d="m205.29 205.27a8.7571 9.9188 0 0 0-8.7568 9.9199 8.7571 9.9188 0 0 0 8.7568 9.9185 8.7571 9.9188 0 0 0 8.7568-9.9185 8.7571 9.9188 0 0 0-8.7568-9.9199z" />
        <rect id="rect20-2" x="204.13" y="201.02" width="2.1101" height="11.7" ry="0" style="fill:#0ff" />
      </g>
    </svg>

  </modulo-contenedor>
  <!--  -->
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>