<div id="m-1-sistema-informatico-teclado" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/estudiante/modulo-1/m-1-sistema-informatico-teclado.less</em>, <em>assets/js/pages/estudiante/modulo-1/m-1-sistema-informatico-teclado.page.js</em>, and <em>api/controllers/estudiante/modulo-1/view-m-1-sistema-informatico-teclado.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
