<div id="m-1-conexion-componentes" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/estudiante/m1-conexion-componentes.less</em>, <em>assets/js/pages/estudiante/m1-conexion-componentes.page.js</em>, and <em>api/controllers/estudiante/view-m-1-conexion-componentes.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
