<div id="m-1-sistema-informatico-monitor" class="container-fluid" v-cloak>
  <!-- v-cloak mantiene invisible las expresiones de vue que aun no han sido cargadas por el objeto Vue, pueesto que el codigo HTML se carga primero y las expresiones se ven mal sin datos -->
  <!-- en esta pantalla se pone a prueba el conocimiento adquirido en la página anterior, se pregunta al usuario por un elemento de la computadora y que el usuario seleccione el correcto -->

  <!--HEADER ******************************************************************************************* -->
  <modulo-barra-nav :breadcrumb="breadcrumb"></modulo-barra-nav>
  <!-- CONTENIDOS******************************************************************************************* -->
  <modulo-contenedor :titulo-contenido="tituloContenido" :descripcion-objeto="descripcionObjeto"
    :navegar-atras="navegarAtras" :navegar-siguiente="navegarSiguiente">

    <svg id="lienzo-svg"  version="1.0" viewBox="0 0 375 225" xmlns="http://www.w3.org/2000/svg">
      <g id="pantalla">
        <path id="path4" d="m57.007 5.5975c-1.1852 0.97687-1.5145 1.5938-0.52677 1.1311 0.92185-0.46273 1.3169 17.635 2.0412 100.36 0.39508 42.777 0.92185 78.15 1.1194 78.664 0.9877 2.0566 2.8314 2.108 22.717 0.3599 8.0991-0.66839 24.627-2.0566 36.742-3.0848 12.116-1.0283 24.561-2.0566 27.656-2.3136s12.708-1.0797 21.4-1.7995c8.6918-0.71979 16.923-1.4396 18.305-1.5938 1.8437-0.20566 2.4363-0.10283 2.4363 0.46272 0 1.3882-2.8314 6.2725-4.5434 7.7635-3.1606 2.725-3.6216 2.8278-30.026 5.1928-21.532 1.9537-19.096 1.4396-21.927 4.7301l-2.4363 2.8792 2.3046 1.491c1.2511 0.82263 8.0991 3.8046 15.145 6.6838 7.0456 2.8278 19.161 7.6607 26.8 10.746 7.704 3.0848 15.276 5.8098 16.791 6.1183 3.424 0.56556 9.6794-0.0514 29.17-3.0334 13.894-2.1594 44.578-6.2211 46.685-6.2211 1.1852 0 3.6216-0.30849 5.3994-0.7198s5.0702-1.0283 7.309-1.3882c5.3336-0.77122 6.5847-1.7995 5.597-4.5244-0.72432-1.7481-2.3705-2.982-13.696-9.8715-25.022-15.321-24.429-14.962-27.656-15.27-1.5803-0.10283-9.1527 0.41132-16.725 1.1825-7.5724 0.82262-14.025 1.3368-14.223 1.1311-0.26338-0.20566 0.0659-1.7995 0.65847-3.5476 1.9096-5.4499 2.3046-6.0154 4.6093-6.3239 3.424-0.46273 39.797-3.3348 47.475-3.9075l9.877-0.7198c1.1194-0.10283 7.6382-0.66839 14.486-1.2339 41.483-3.8561 10.437-1.1205 41.483-3.8561 7.9674-0.66839 10.733-1.0797 11.391-1.7481 0.59262-0.61697 0.79016-7.4036 0.79016-29.872 0-15.99 0.13169-32.802 0.32923-37.327 0.19754-4.5244 0.46093-20.411 0.65847-35.27 0.32923-27.764 0.19754-29.923-2.1729-30.489-0.65846-0.15424-6.3213-0.77121-12.643-1.3368s-16.396-1.5424-22.388-2.0566c-5.992-0.56556-27.59-2.5193-48.068-4.3702-53.138-4.7815-68.48-6.1697-90.539-8.2777-7.704-0.7198-14.289-1.2854-36.545-3.2905-16.33-1.491-38.454-3.4962-51.031-4.6787-17.383-1.6453-22.849-1.7995-24.232-0.77121zm24.238 12.639c258.8 22.957 0 0 248.62 21.963 1.0011 59.363 0.10293 47.686-0.90763 101.89l-246.98 13.567zm94.615 195.49c5.7287 2.4679 10.667 4.5244 11.062 4.5244 0.79016 0 0.85601 1.0283 0 2.0566-0.52677 0.61697-0.72431 0.61697-1.7779-0.10283-0.65846-0.46273-4.1483-2.0052-7.7699-3.4962-14.157-5.7584-15.869-6.6838-15.211-8.0206 0.46092-0.87404-0.79016-1.3368 13.696 5.0386z" style="stroke-width:.058185"/>
        <path id="path21" d="m80.78 17.519c-1.2953 3.9922-0.17454 8.4425-0.54951 12.609 0.08694 40.813-0.08857 81.637 1.0889 122.44-0.14567 1.7361 0.10392 4.6654 3.3726 3.8265 81.09-4.3736 162.2-8.7105 243.26-13.378 3.1245-1.3449 1.5739-4.9535 2.2343-7.2135 0.9029-31.28 1.8552-62.588 0.68314-93.872 0.5496-2.4241-2.6778-2.9429-5.0837-2.93-81.258-7.4399-162.61-14.233-243.86-21.73l-0.57825 0.12469z" style="fill:#ac9393;stroke-width:.43638"/>
      </g>
      <g id="btn_encendido">
        <ellipse id="path22" transform="matrix(.92975 -.3682 .52344 .85206 0 0)" cx="194.09" cy="265.49" rx="9.3205" ry="8.2609" style="fill:#0ff;stroke-width:.37323"/>
        <ellipse id="path18" cx="319.34" cy="154.74" rx="7.3476" ry="6.1107" style="stroke-width:.37041"/>
        <path id="path18-4" d="m319.13 154.03c-1.227-0.67918-0.35167-1.2948-2.2029-2.8161-0.93982 0.58732-2.0488 1.7917-2.0489 3.3829-1.4e-4 2.1759 1.9515 3.9398 4.4173 3.9398 2.4656-1.4e-4 4.4642-1.764 4.4642-3.9398-1.3e-4 -1.7441-0.85322-2.8916-1.938-3.3039-1.7655 1.4422-2.2027 2.7371-2.6916 2.737z" style="fill:#0ff;stroke-width:.37041"/>
        <path id="path18-47" d="m319.34 151.38a3.6373 3.2764 0 0 0-3.6372 3.2768 3.6373 3.2764 0 0 0 3.6372 3.2763 3.6373 3.2764 0 0 0 3.6372-3.2763 3.6373 3.2764 0 0 0-3.6372-3.2768z" style="stroke-width:.37041"/>
        <rect id="rect20" x="318.86" y="149.97" width=".87644" height="3.8648" ry="0" style="fill:#0ff;stroke-width:.37041"/>
      </g>
    </svg>
    
  </modulo-contenedor>
  <!--  -->
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>